---
layout: post
title: Sockets (Server - Client Communication)
description: Programs to display patterns
keywords: ['Desplay patterns', 'right angled triangle', 'print z']
tags: [java]
---
<p>Communicating between two devices using Java <b>Sockets</b>.</p>
<p><b>Server</b> : Listens to requests from clients, process them and replies back.</p>
<p><b>Client</b> : Takes input from user and send it server, recieves response and displays it.</p>

<h3>Server Code</h3>
{% include components/github-code-highlighter.html id="java-server" repo='shivajivarma/codebase-java' program='src/main/java/com/shivajivarma/codebase/network/sockets/Server.java' prism='language-java' %}

<h3>Client Code</h3>
{% include components/github-code-highlighter.html id="java-client" repo='shivajivarma/codebase-java' program='src/main/java/com/shivajivarma/codebase/network/sockets/Client.java' prism='language-java' %}