_site
www/
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
*.jekyll-cache
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
