---
layout: default
root: true
keywords: ['Shivaji Varma About Me', 'Conact Shivaji Varma', 'Shivaji Varma Profile', 'Shivaji Varma Resume', 'personal website','programmer', 'software engineering', 'web developer']
priority: 1
change_frequency: monthly
plugins:
fblike: true
gplus: true
css:
- /index.css
---
<!-- MAIN CONTENT -->
<div class=container-fluid>

  <!-- Introduction -->
  <section class="row py-5 text-white separator-green-animate" style="background: black">

    <div class="col-md-3 col-12">
      <div class="img-container">
        <div class="img-inner">
          <img class="img-fluid rounded-circle profile-picture" alt="{{ site.author.name }}" title="{{ site.author.name }}" src="{{ site.img }}{{ site.author.avatar }}">
        </div>
      </div>
    </div>

    <div id="introduction" class="col-md-9 col-12 mt-3 mt-md-0">
      <h1 class="text-center text-md-left">Shivaji Varma</h1>
      <div class="content">
        <div class="content__container">
          <ul class="content__container__list h3 text-center text-md-left">
            <li class="content__container__list__item">Programmer</li>
            <li class="content__container__list__item">Web designer</li>
            <li class="content__container__list__item">Full stack engineer</li>
            <li class="content__container__list__item">Gamer</li>
          </ul>
        </div>
      </div>

      <div class="separator-green mx-auto mx-md-0"></div>

      <p class="lead">
        "He is a people person who just happens to express this tendency through programming and technology projects,
        having development and design experience for more than <span class="experience"></span> years"
      </p>
      <p><a id="read-more" class="text-info" href="javascript:readmore()" title="Read more">Read more...</a></p>

      <p><b>Fun fact:</b> He plays a lot of CS:GO, But still not a pro. And you can find his name in the list of <a class="text-info" href="https://github.com/jquery/jquery/blob/master/AUTHORS.txt" target="_blank">jquery authors</a>.</p>
      <p><a id="resume" href="{{site.docs}}/shivaji-resume-infographic.pdf" title="Shivaji Varma's Resume" class="btn btn-primary" target="_blank"><i class="fas fa-download"></i> Download Resume</a></p>

      {% include components/social-icons.html %}

    </div>

  </section>

  <div class="row">
    <svg viewBox="0 0 1280 70" preserveAspectRatio="none" class="svg-curve svg-curve-black-grey" role="presentation" aria-hidden="true">
      <polygon points="1280 0 1280 70 0 70"></polygon>
    </svg>
  </div>

  <!-- SKILLS -->
  <section class="skills row py-3">
    <div class="col-12">
      <h2>Skills</h2>
      <p class="lead">He has more than <span class="experience"></span> years experience as a full stack developer, creating products from scratch. This enabled him to acquire variety of skill set.</p>

      <div class="separator-green-animate">
        <h3>Front-end</h3>
        <div class="separator-green"></div>
        <div class="d-flex  align-content-start flex-wrap">
          {% include html/templates/skill.html name='HTML5' img='html5.svg' %}
          {% include html/templates/skill.html name='CSS3' img='css3.svg' %}
          {% include html/templates/skill.html name='JavaScript' img='javascript.svg' %}
          {% include html/templates/skill.html name='Angular' img='angular.png' %}
          {% include html/templates/skill.html name='jQuery' img='jquery.png' %}
          {% include html/templates/skill.html name='Performance' img='performance.png' %}
        </div>
      </div>

      <div class="separator-green-animate">
        <h3>Back-end</h3>
        <div class="separator-green"></div>
        <div class="d-flex  align-content-start flex-wrap">
          {% include html/templates/skill.html name='Java' img='java.svg' %}
          {% include html/templates/skill.html name='NodeJS' img='nodejs.svg' %}
          {% include html/templates/skill.html name='Python' img='python.svg' %}
          {% include html/templates/skill.html name='Spring' img='spring-framework.svg' %}
        </div>
      </div>

      <div class="separator-green-animate">
        <h3>Other</h3>
        <div class="separator-green"></div>
        <p class="lead">Shell Scripting, PHP, C, XSLT, SASS and SQL</p>
      </div>

      <div class="separator-green-animate">
        <h3>Tools and frameworks</h3>
        <div class="separator-green"></div>
        <p class="lead">Spring Boot, Bootstrap, ExpressJS, Oracle, MySql, MongoDB, GIT, SVN, TeamSite CMS and Oracle User Interfaces(OUI) JS</p>
      </div>
    </div>
  </section>


  <div class="row">
    <svg viewBox="0 0 1280 70" preserveAspectRatio="none" class="svg-curve svg-curve-grey-dark" role="presentation" aria-hidden="true">
      <polygon points="0 0 1280 70 0 70"></polygon>
    </svg>
  </div>

  <!-- SHOWCASE -->
  <section class="showcase row bg-dark text-white py-3">
    <div class="col-12">
      <h3>Showcase</h3>
      <div class="row separator-green-animate">
        <div class="col-md-6 col-sm-12">
          <h4>Age Calculator</h4>
          <div class="separator-green"></div>
          <p>Age Calculator is a Hybrid mobile app developed using Cordova. Boostrap framework for UI development.</p>
          <p><a href="/project/age-calculator/" class="text-info" title="Read more">Read more...</a></p>
        </div>

        <div class="col-md-6 col-sm-12">
          <h4>Anysols</h4>
          <div class="separator-green"></div>
          <p>ERP product under developement</p>
          <p><a href="http://anysols.com" class="text-info" title="Anysols">Visit</a></p>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6 col-sm-12">
          <h4>Spring Boot Boilerplate</h4>
          <div class="separator-green"></div>
          <p>An boilerplate web application to kick start development.</p>
          <p><a href="/project/spring-boot-webapp-boilerplate/" class="text-info" title="Read more">Read more...</a></p>
        </div>

        <div class="col-md-6 col-sm-12">
          <h4>Search Engine</h4>
          <div class="separator-green"></div>
          <p>One of the first web applications, i have written. Developed using PHP, MySql, HTML, CSS, JS and XML.</p>
          <p><a href="/project/search-engine/" class="text-info" title="Read more">Read more...</a></p>
        </div>

        <div class="col-12">
          <a href="/project/" class="btn btn-primary">View All</a>
        </div>
      </div>
    </div>
  </section>

  <div class="row">
    <svg viewBox="0 0 1280 70" preserveAspectRatio="none" class="svg-curve svg-curve-dark-white" role="presentation" aria-hidden="true">
      <polygon points="1280 0 1280 70 0 70"></polygon>
    </svg>
  </div>

  <!-- EXPERIENCE -->
  <section class="experience-section row bg-white py-3">

    <div class="col-12">
      <h3>Experience</h3>

      <div class="row mt-1">
        <div class="col-md-1 col-2">
          <img class="img-fluid mt-2 margin-left-10px" src="{{ site.img }}/icons/servicenow.png" title="Kagami ERP" alt="Best Rookie Award"/>
        </div>
        <div class="col-md-11 col-10">
          <h4>Software Engineer</h4>
          <div class="separator-green"></div>
          <h5>ServiceNow, Hyderabad<br/>
            <small>(Dec 2017 - Present)</small>
          </h5>
        </div>
        <div class="col-md-11 offset-md-1 col-12 text-secondary">
          <p>ServiceNow automates enterprise IT operations, creating a single system of record for all IT processes within an organization. This system brings together IT strategy, design, transition and operation on a powerfully simple cloud platform.</p>
          <p>Beyond Help Desk and Service Management processes, ServiceNow is built to be a productivity tool for all types of business users—the CIO, service desk staff, application developers, IT finance, IT operations and business leads.</p>
          <p>ServiceNow applications are built on a single platform-as-a-service which offers a consistent and intuitive user experience through the entire IT Infrastructure Library (ITIL) service lifecycle.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 col-2">
          <img class="img-fluid mt-2 margin-left-10px" src="{{ site.img }}/icons/kagami.png" title="Kagami ERP" alt="Best Rookie Award"/>
        </div>
        <div class="col-md-11 col-10">
          <h4>Software Engineer</h4>
          <div class="separator-green"></div>
          <h5>Kagami India Pvt. Ltd. (StartUp), Hyderabad<br/>
            <small>(July 2016 - Dec 2017)</small>
          </h5>
        </div>
        <div class="col-md-11 offset-md-1 col-12 text-secondary">
          <p>Kagami, is a next generation ERP solution, which allows Business users to develop ERP modules, package them and deploy to cloud.
             Developed UI for products from scratch, which involves users to creating processes, entities and entity relationships using UI.
             Involved in brainstorming and solving business/architecture problems.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 col-2">
          <img class="img-fluid mt-2 margin-left-10px" src="{{ site.img }}/icons/oracle.png" title="Oracle" alt="Best Rookie Award"/>
        </div>
        <div class="col-md-11 col-10">
          <h4>Application Engineer</h4>
          <div class="separator-green"></div>
          <h5>Oracle, Bangalore<br/>
            <small>(July 2015 - July 2016)</small>
          </h5>
        </div>
        <div class="col-md-11 offset-md-1 col-12 text-secondary">
          <p>Understanding and developing functional business requirements based on wireframes and screenshots
             provided by the UX team. Following the bug life cycle process and working closely with the QA team on bug
             fixes to ensure cross browser compatibility and zero feature bugs before release.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1 col-2">
          <img class="img-fluid mt-2 margin-left-10px" src="{{ site.img }}/icons/wipro.png" title="Wipro Technologies" alt="Best Rookie Award"/>
        </div>
        <div class="col-md-11 col-10">
          <h4>Senior Software Engineer</h4>
          <div class="separator-green"></div>
          <h5>Wipro Technologies, Bangalore<br/>
            <small>(June 2012 - July 2015)</small>
          </h5>
        </div>
        <div class="col-md-11 offset-md-1 col-12 text-secondary">
          <p>US Bank being the fifth largest bank in US has a website which is used for marketing and promotions of their
             various programs like lending money, student and parent loan with consultation, multiple promotions, etc.
             Website also includes multiple micro sites like Student Banking, Investment and Wealth Management, Small business etc.</p>
          <p>All this has been developed using various layouts, multiple templates and styles.
             Numerous pages has been created with help of these layouts and templates.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="awards my-4">

    <h3>Awards</h3>
    <div class="row">
      <div class="col-md-12">
        <h4>Inspiring Performace</h4>
        <div class="separator-green"></div>
        <h5>
          <small>Feb 2015, Wipro Technologies</small>
        </h5>
      </div>
      <div class="col-md-12 text-secondary">
        <p>This certificate is awarded for Responsive Micro site implementation and Best Performance in the project.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h4>Best Rookie</h4>
        <div class="separator-green"></div>
        <h5>
          <small>August 2014, Wipro Technologies</small>
        </h5>
      </div>
      <div class="col-md-12 text-secondary">
        <p>This certificate is awarded for Quick learning and Best Performance in the project. Appreciated for the same in All Hands Meet of Customer Engagement practice.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h4>Code Star</h4>
        <div class="separator-green"></div>
        <h5>
          <small>May 2014, Wipro Technologies</small>
        </h5>
      </div>
      <div class="col-md-12 text-secondary">
        <p>This certificate is awarded for winning in 'CodeStorm' programming contest. An event jointly organized by Cheif Techonology Office and Business Application Services.</p>
        <p>CodeStorm - A Wipro wide online marathon with more than 4000 registrations.</p>
      </div>
    </div>
  </section>

  <hr>

  <!-- Education -->
  <section class="education my-4">

    <h3>Education</h3>
    <div class="mb-2">
      <h4>GITAM UNIVERSITY</h4>
      <div class="separator-green"></div>
      <h5 class="h6">B. Tech, Computer Science, 8.54 CGPA<br/>
        <small>(2008 - 2012)</small>
      </h5>
    </div>
    <div class="mb-2">
      <h4>Sri Chaitanya Junior College</h4>
      <div class="separator-green"></div>
      <h5 class="h6">Mathematics, Physics and Chemistry, 91.4%<br/>
        <small>(2006 - 2008)</small>
      </h5>
    </div>

  </section>

  <hr>

  <div class="row my-4">

    <div class="col-md-5">
      <h3>Contact info<a class="anchor" name="contact-hash" id="contact-hash"></a></h3>
      <div>
        <p class="lead"><i class="far fa-envelope"></i> <a class="no-underline" href="mailto:&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#115;&#104;&#105;&#118;&#97;&#106;&#105;&#118;&#97;&#114;&#109;&#97;&#46;&#99;&#111;&#109;" title="&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#115;&#104;&#105;&#118;&#97;&#106;&#105;&#118;&#97;&#114;&#109;&#97;&#46;&#99;&#111;&#109;">&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#115;&#104;&#105;&#118;&#97;&#106;&#105;&#118;&#97;&#114;&#109;&#97;&#46;&#99;&#111;&#109;</a>
        </p>
      </div>

      {% include components/social-icons.html %}

      <!-- Place this tag where you want the +1 button to render. -->
      <div>
        <div class="g-plusone" data-href="{{ site.url }}"></div>
      </div>

      <!-- facebook like -->
      <div class="fb-like margin-bottom-20px" data-href="{{ site.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

    </div>

    <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0"
              marginwidth="0"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d243647.31698230503!2d78.26795873402952!3d17.412299801084405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99daeaebd2c7%3A0xae93b78392bafbc2!2sHyderabad%2C+Telangana!5e0!3m2!1sen!2sin!4v1525746797584"></iframe>

  </div>

  <div class="row pb-3">
    <div class="margin-auto">
      <img class="size-32px" title="Smiley" alt="Smiley" src="{{ site.baseurl }}{{ site.img }}/icons/smiley.png">
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="read-more" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Introduction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="fas fa-times" aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <p class="lead"><strong><span style="color:#ff0000;">H</span></strong>ey, this is my personal website, so I have to say something about myself. Sometimes it is hard to introduce yourself because you know yourself so well that you do not know where to start with. Let me give a try to see what kind of image you have about me through my self-description. I hope that my impression about myself and your impression about me are not so different.</p>
        <p class="lead"><strong><span style="color:#00ccff;">I</span></strong> am a person who is positive about every aspect of life. There are many things I like to do, to see, and to experience. I like to read, I like to write; I like to think, I like to dream; I like to talk, I like to listen; I like to see the sunrise in the morning, I like to see the moonlight at night; I like to feel the music flowing on my face, I like to smell the wind coming from the ocean. I like to look at the clouds
                                                                               in the sky with a blank mind, I like to do thought experiment when I cannot sleep in the middle of the night. I like flowers in spring, rain in summer, leaves in autumn, and snow in winter. I like to sleep early, I like to get up late; I like to be alone, I like to be surrounded by people. I like country’s peace, I like public noise in the stadium; I like the beautiful of sea near my home. I like the flat green field
                                                                               near to my town. I like delicious food and comfortable shoes; I like good books and comedy movies. I like the land and the nature, I like people. And, I like to laugh.</p>
        <p class="lead">Last but not least, i like my “<span style="color:#ff0000;">Computer</span>” very much.</p>
        <p class="lead"><strong><span style="color:#339966;">T</span></strong>his is a brief introduction of myself. If you are interested in knowing more, read my <a href="{{ site.baseurl }}/blog/#">Blog</a>. Do not expect too much, and keep your sense of humor.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function readmore() {
    $('#myModal').modal('show');
  }

  function getAge(dateString) {
    var today = new Date();
    var birthDate = new Date(dateString);
    var age = today.getFullYear() - birthDate.getFullYear();
    var m = today.getMonth() - birthDate.getMonth();
    if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
      age--;
    }
    return age;
  }

  $('.experience').text(getAge('06/20/2012'));

</script>

