<a class="anchor" name="{{include.title | replace:' ',''}}" id="{{include.title | replace:' ',''}}"></a>
<div class="row p-3 rounded cartoon-card {% if include.float-right==true %}flex-row-reverse{% endif %}">
  <div class="col-md-8">
    <img class="img-thumbnail img-responsive margin-auto full-width" alt="{{include.img-title}}" title="{{include.img-title}}" src="{{include.img}}">
    <p class="text-align-center">
      <small>{{include.img-description}}</small>
    </p>
  </div>
  <div class="col-md-4">
    <h2>{{include.title}}</h2>
    {{include.description}}
    <h4>Characters:</h4>
    <ul>
      {% for character in include.characters %}
      <li>{{character}}</li>
      {% endfor %}
    </ul>
    {% if include.read-more-url %}
      <button class="btn btn-sm btn-primary cartoon-read-more" data-url="{{include.read-more-url}}" data-title="{{include.title}}">Read more <i class="fas fa-arrow-right"></i></button>
    {% endif %}
  </div>
</div>


<hr class="my-4"/>
