---
---
<div class="experience-item">
  <div class="role-details">
    <div class="logo">
      {{include.logo}}
    </div>
    <div class="role">
      <goat-text type="heading" type="heading" heading-size="3">Staff Software Engineer</goat-text>
      <goat-text color="secondary" type="body-compact">{{include.title}} <goat-icon name="dot-mark"  size=".625rem"></goat-icon> Full-time <goat-icon name="dot-mark"  size=".625rem"></goat-icon> {{include.location}}</goat-text>
      <goat-text color="secondary" type="body-compact">Dec 2017 - Present · <span class="latest-experience"></span>+ yrs</goat-text>
      <goat-text color="secondary"></goat-text>
    </div>
  </div>
  <div class="experience-details">
    {{include.experienceDetails}}
  </div>
</div>
