<footer class="footer" itemscope itemtype="http://schema.org/WPFooter">
  <div class="section-container">
    <div class="social-links">
      <goat-text expressive>Follow me</goat-text>
      <div class="social-links__links">
        <goat-button variant="link" class="color-secondary" target="_blank" icon-size="lg"
                     href="https://twitter.com/{{ site.author.twitter }}" title="Twitter" rel="noopener"
                     icon="logo--twitter"></goat-button>
        <goat-button variant="link" class="color-secondary" target="_blank" icon-size="lg"
                     href="https://www.linkedin.com/in/{{ site.author.linkedin }}" title="LinkedIn" rel="noopener"
                     icon="logo--linkedin"></goat-button>
        <goat-button variant="link" class="color-secondary" target="_blank" icon-size="lg"
                     href="https://github.com/{{ site.author.github }}" title="Github" rel="noopener"
                     icon="logo--github"></goat-button>
        <goat-button variant="link" class="color-secondary" target="_blank" icon-size="lg"
                     href="https://youtube.com/c/{{ site.author.youtube }}" title="Youtube" rel="noopener"
                     icon="logo--youtube"></goat-button>
        <goat-button variant="link" class="color-secondary" target="_blank" icon-size="lg"
                     href="mailto:{{site.email}}" title="Mail" rel="noopener"
                     icon="email"></goat-button>
      </div>
    </div>
    <div class="first-row">
      <div class="logo">
        <img src="/assets/img/logo.webp" alt="Shivaji Varma Logo"></img>
        <goat-divider vertical></goat-divider>
        <goat-text>Shivaji Varma</goat-text>
      </div>
      <div class="global-links">
        <goat-link href="{{ site.baseurl }}/privacy">Privacy</goat-link>
        <goat-link rel="license noopener" href="{{ site.baseurl }}/LICENSE">License</goat-link>
      </div>
    </div>
  </div>
</footer>
