<footer class="footer" itemscope itemtype="http://schema.org/WPFooter">
  <div class="section-container">
    <div class="social-links">
      <goat-text inline expressive>Follow me</goat-text>
      <div class="social-links__links">
        <goat-button icon="logo--twitter"
                     href="https://twitter.com/{{ site.author.twitter }}"
                     title="Twitter"

                     icon-size='lg'
                     variant='ghost'
                     color='dark'
                     dark-mode-color='light'
                     rel="noopener"
        ></goat-button>
        <goat-button icon="logo--linkedin"
                     href="https://www.linkedin.com/in/{{ site.author.linkedin }}"
                     title="LinkedIn"

                     icon-size='lg'
                     variant='ghost'
                     color='dark'
                     dark-mode-color='light'
                     rel="noopener"
        ></goat-button>
        <goat-button icon="logo--github"
                     href="https://github.com/{{ site.author.github }}"
                     title="Github"

                     icon-size='lg'
                     variant='ghost'
                     color='dark'
                     dark-mode-color='light'
                     rel="noopener"
        ></goat-button>
        <goat-button icon="logo--youtube"
                     href="https://youtube.com/c/{{ site.author.youtube }}"
                     title="Youtube"

                     icon-size='lg'
                     variant='ghost'
                     color='dark'
                     dark-mode-color='light'
                     rel="noopener"
                     ></goat-button>
        <goat-button icon="email"
                     href="mailto:{{site.email}}"
                     title="Mail"

                     icon-size='lg'
                     variant='ghost'
                     color='dark'
                     dark-mode-color='light'
                     rel="noopener"
                     ></goat-button>
      </div>
    </div>
    <div class="first-row">
      <div class="logo">
        <img src="/assets/img/logo.webp" alt="Shivaji Varma Logo"></img>
        <goat-divider vertical></goat-divider>
        <goat-text>Shivaji Varma</goat-text>
      </div>
      <div class="global-links">
        <goat-link href="{{ site.baseurl }}/privacy">Privacy</goat-link>
        <goat-link rel="license noopener" href="{{ site.baseurl }}/LICENSE">License</goat-link>
      </div>
    </div>
  </div>
</footer>
