<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} &middot; {{ site.title }}{% else %}{{ site.title }} &middot; {{ site.tagline }}{% endif %}</title>

  <!-- Page meta data -->
  <meta name="author" content="{{ site.author.name }}">
  <meta name="copyright" content="(c) {{ site.time | date: '%Y' }} {{ site.author.name }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:type" content="{{ site.type }}">
  <meta property="og:image" content="{{ site.url }}{{ site.img }}{{ site.author.avatar }}">
  <meta property="og:site_name" content="{{ site.author.name }}">
  <meta property="fb:admins" content="{{ site.author.fbid }}">

  <meta property="og:title" content="{% if page.title %}{{ page.title }} &middot; {{ site.title }}{% else %}{{ site.title }} &middot; {{ site.tagline }}{% endif %}">
  <meta name="description" property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{{ site.title }}{% for keyword in page.keywords %}, {{ keyword }}{% endfor %}">

  <!-- RSS ><link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml"-->
  <!-- Icons -->
  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}{{ site.img }}/favicon.png">
  <link rel="author" href="https://plus.google.com/{{ site.author.gplusid }}?rel=author">
  <link rel="publisher" href="https://plus.google.com/{{ site.author.gpage }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{{ site.bower }}/prism/themes/prism.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{{ site.bower }}/font-awesome/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}{{ site.css }}/main.css">

  {% for css in page.css %}<link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}{{ site.css }}{{ css }}">{% endfor %}

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

  <script src="{{ site.baseurl }}{{ site.bower }}/jquery/jquery-3.3.1.min.js"></script>

</head>
