<!-- Fixed navbar -->
<nav class="header">
  <goat-header
    color="brand-secondary"
    class='hide-mobile'>

    <div slot='left'>
      <goat-header-brand
        logo="/assets/img/logo.webp"
        name="Shivaji Varma"
        sub-title="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"
        href="/#"></goat-header-brand>
    </div>


    <div slot='right'>
      <div class="header-right-panel">
        <goat-input placeholder="Search" id="nav-search-input"></goat-input>

        <goat-header-action
          kind="simple"
          icon='light--filled'
          itemprop=url
          class='theme-switcher'
          aria-label="Theme Switch"></goat-header-action>


        <goat-header-action
          href='/blog#'
          itemprop=url>
          Blog
        </goat-header-action>

        <goat-header-action
          href='/project#'
          itemprop=url>
          Projects
        </goat-header-action>

      </div>
    </div>
  </goat-header>

  <goat-header
    color="brand-secondary"
    class='show-mobile'
    brand-logo='/assets/img/logo.webp'
    page-title="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"
    brand-url='/'
  >

    <div slot='left'>
      <goat-header-brand
        logo="/assets/img/logo.webp"
        sub-title="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"
        href="/#"></goat-header-brand>
    </div>

    <div slot='right'>
      <goat-header-action icon='light--filled' class='theme-switcher mobile' aria-label="Theme Switch"></goat-header-action>
      <goat-header-action icon="blog"
                   href='/blog#'
                   itemprop=url></goat-header-action>
      <goat-header-action icon="roadmap"
                   href='/project#'
                   itemprop=url></goat-header-action>
    </div>
  </goat-header>
</nav>


