<!-- Fixed navbar -->
<nav class="header">
  <goat-header
    class='brand actions-separated hide-mobile'>

    <div slot='left-section'>
      <goat-header-brand
        logo="/assets/img/logo.webp"
        name="Shivaji Varma"
        sub-title="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"
        href="/#"></goat-header-brand>
    </div>

    <div slot='right-section'>
      <goat-input placeholder="Search" id="nav-search-input" ></goat-input>
      <goat-button  icon='sun-fill' class='theme-switcher desktop' aria-label="Theme Switch"></goat-button>
      <goat-button class='full-height'
                   href='/blog#'
                   itemprop=url>Blog</goat-button>
      <goat-button class='full-height'
                   href='/project#'
                   itemprop=url>Projects</goat-button>
    </div>
  </goat-header>

  <goat-header
    class='brand actions-separated hide-desktop'
    brand-logo='/assets/img/logo.webp'
    page-title="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"
    brand-url='/'
  >

    <div slot='left-section'>
      <goat-header-brand
        logo="/assets/img/logo.webp"
        sub-title="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"
        href="/#"></goat-header-brand>
    </div>

    <div slot='right-section'>
      <goat-button  icon='sun-fill' class='theme-switcher mobile' aria-label="Theme Switch"></goat-button>
      <goat-button class='full-height'
                   href='/blog#'
                   itemprop=url>Blog</goat-button>
      <goat-button class='full-height'
                   href='/project#'
                   itemprop=url>Projects</goat-button>
    </div>
  </goat-header>
</nav>


