<!--   Core JS Files   -->
<script type='module' src='{{ site.baseurl }}/assets/node_modules/@goatui/components/dist/goatui/goatui.esm.js'></script>


<script src="{{ site.baseurl }}/assets/material-kit/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>


{% if page.root != true %}
<script type="text/javascript" src="{{ site.baseurl }}{{ site.bower }}/prism/prism.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}{{ site.bower }}/prism/components/prism-c.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}{{ site.bower }}/prism/components/prism-python.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}{{ site.bower }}/prism/components/prism-sql.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}{{ site.bower }}/prism/components/prism-java.min.js"></script>
{% endif %}
<script src="{{ site.baseurl }}{{ site.js }}/main.js"></script>

{% for js in page.js %}<script type="text/javascript" src="{{ site.baseurl }}{{ site.js }}/{{ js }}"></script>{% endfor %}
{% for script in page.scripts %}<script type="text/javascript" src="{{ script }}"></script>{% endfor %}
