@charset "utf-8";
@use "mixin";

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
}

:root {
  --header-height: 5rem;
  --header-brand-logo-height: 4rem;
}

.header {
  --goat-header-height: var(--header-height);
  --goat-header-width: var(--container-max);
}

.banner {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--color-surface);
  min-height: 100vh;

  @include mixin.for-tablet-landscape-up {
    border-radius: var(--shape-corner-medium);
    margin-block: 1.5rem;
    margin-inline-end: 1rem;
    min-height: calc(100vh - 3rem /* margin */);
  }

  .banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 3rem;
    animation: reveal 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s backwards;

    .logo-card-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;

      .logo-card {
        border-radius: var(--shape-corner-full);
        border: 4px solid var(--color-on-surface);

        overflow: hidden;
        width: 18rem;
        height: 18rem;

        img {
          width: 100%;
          height: 100%;
        }

        .title {
          border-top: 0.25rem solid var(--color-on-surface);
          text-align: center;

          background: var(--color-surface);
          padding: 1rem;
        }
      }
    }

    .banner-title {
      font-family: "Pacifico", sans-serif;
      margin-bottom: 1rem;
    }

    .banner-actions {
      display: flex;
      gap: 1rem;
      padding-top: 2rem;

      @include mixin.for-phone-only {
        flex-direction: column;
        width: 100%;
      }
    }
  }
}

.tagline-section,
.social-icons {
  display: none !important;
}

@include mixin.for-tablet-landscape-up {
  .tagline-section {
    position: absolute;
    bottom: 0;
    right: 3rem;
    display: flex !important;
  }

  .social-icons {
    display: flex !important;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.jumping-word {
  display: inline-block;
  padding-inline: 0.2rem;
}

.jumping-text {
  position: relative;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transform-origin: 50% 100%;
  display: inline-block;
  will-change: text-shadow, transform;
  margin: 0;

  font-family: "Pacifico", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 2rem;
}

.jumping-text.hover {
  animation: jumpAnimation 1.5s 1 alternate forwards
    cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes jumpAnimation {
  0%,
  to {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  25%,
  75% {
    text-shadow:
      -5px 2px 2px rgba(0, 0, 0, 0.3),
      0 5px 12px rgba(0, 0, 0, 0.3);
    transform: matrix(1.1, 0, 0, 0.8, 0, 0);
  }

  50% {
    transform: matrix(0.8, 0, 0, 1.2, 0, 0) translateY(-10px);
    text-shadow:
      -40px 20px 20px rgba(0, 0, 0, 0.3),
      0 40px 100px rgba(0, 0, 0, 0.3);
  }
}

.intro-section {
  background-color: var(--color-surface-container-low);

  @include mixin.for-tablet-landscape-up {
    border-radius: var(--shape-corner-medium) var(--shape-corner-medium) 0 0;
    margin-block-start: 1rem;
    margin-inline-end: 1rem;
    min-height: calc(100vh - 2rem /* margin */);
  }
}

.footer-with-about {
  @include mixin.for-tablet-landscape-up {
    width: calc(100% - 1rem) !important;
  }
}

.project-details {
  display: flex;
  gap: var(--spacing-200);
  margin-bottom: var(--spacing-300);
  .logo {
    border-radius: var(--border-radius);
    height: 7rem;
    width: 7rem;
  }
  .role {
    [type="heading"] {
      margin-bottom: var(--spacing-300);
    }
  }
}

.awards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: var(--spacing-300);
  margin-top: var(--spacing-300);
}

.showcase {
  color: var(--text-04);
  padding: var(--spacing-11) 0;
}

.read-more {
  color: var(--color-white);
  a {
    display: flex;
    align-items: center;
    color: var(--color-white);
    text-decoration: none;
    gap: var(--spacing-03);
  }
}

.view-all-projects {
  padding-top: var(--spacing-09);
}
