@charset "utf-8";
@import "mixin";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  background: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-family-base);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#nav-search-input {
  margin: 0 1rem;
}

.color-brand {
  color: var(--color-brand-primary);
}

.color-success {
  color: var(--color-success);
}

@import "_components/section";
@import "_components/header";
@import "_components/banner";

.bullet-pointer-shock {
  padding-bottom: var(--spacing-05);
  goat-text {
    display: flex;
  }
  goat-text:before {
    content: "⚡";
  }
}

@include for-phone-only {
  .hide-mobile {
    display: none !important;
  }
  .show-mobile {
    display: inherit;
  }
}

@include for-tablet-portrait-up {
  .show-mobile {
    display: none !important;
  }
}

.footer {
  margin: 0 var(--spacing-12) var(--spacing-06);

  goat-divider {
    height: 100%;
  }

  .social-links {
    display: flex;
    align-items: center;
    padding-top: var(--spacing-05);
    gap: var(--spacing-05);

    .social-links__links {
      display: flex;
      gap: var(--spacing-05);
    }
  }

  .first-row {
    padding-top: var(--spacing-05);
    display: flex;
    align-items: center;

    .logo {
      flex: 1;
      display: flex;
      align-items: center;
      height: 2.5rem;
      padding: 0.5rem 0;

      img {
        height: 2rem;
      }
    }

    .global-links {
      display: flex;
      gap: var(--spacing-09);
    }
  }
}

.social-icons {
  align-items: center;
}

.made-in-india {
  display: flex;
  position: fixed;
  font-size: 1rem;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  bottom: 2rem;
  left: 2rem;
  text-align: left;
  align-items: center;
  gap: 1rem;
  .country-flag {
    height: 1rem;
    padding: 0 var(--spacing-02);
  }

  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 1px;
    width: 25px;
    background: var(--text-primary);
    gap: 0.5rem;
  }
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  --button-color: var(--text-primary);
  position: fixed;
  bottom: 2rem;
  right: 0.5rem;
  flex-direction: column;

  &:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: 1px;
    background: var(--text-primary);
  }
}

@include for-phone-only {
  .footer {
    margin: 0 var(--spacing-05) var(--spacing-06);
  }
  .footer .social-links {
    .social-links__links {
      gap: var(--spacing-02);
      wc-button {
        --button-padding: 0.75rem;
      }
    }
  }
}

.project-content {
  padding-top: var(--spacing-09);
  padding-bottom: var(--spacing-09);
}

section {
  padding: var(--spacing-05) 0;
}

.check-mark {
  margin-right: var(--spacing-03);
}

goat-code-highlighter {
  height: inherit;
}

.pager {
  list-style: none;
  padding: 0;
  display: flex;
  .previous {
    flex: 1;
  }
}

.post {
  padding-top: var(--header-height);
  article {
    padding: var(--spacing-05) 0;
  }
}

.post-container {
  padding: var(--spacing-09) 0;
}

.img-responsive {
  width: 100%;
  height: auto;
}

a.url {
  word-break: break-all;
}
