---
layout: default
title: Old Cartoon Network shows &ndash; Lost memories
description: 'List of old cartoon network shows. which includes flinstones, jetsons, yogi bear, the addams family, 2 stupid dogs, centurions, swat cats, scooby doo, tom and jerry, popeye the sailor man, the mask, jonny quest, richie rich, the road runner, the sylverster and tweety mysteries, loony toons, captain planet and the planetters, talespin, powerpuff girls, dexters laboratory, johnny bravo, tintin,  super man, spider man,  batman, he-man,  samurai jack, jackie chan adventures, x-men, transformers, pokemon, ben 10,  beyblade, dragon ball z, naruto, tarzan, dink the little dinosaurs, augie doggie, g. i. joe, justices league, chip n dale'
keywords: [cartoons, old memories, flintstones, jetsons, dino, 'yogi bear', cartoon, astro, 'barney rubble', 'the addams family', '2 stupid dogs', centurions, 'swat cats', 'scooby doo', 'tom and jerry', 'popeye the sailor man', 'the mask', 'jonny quest', 'richie rich', 'the road runner', 'the sylverster and tweety mysteries', 'loony toons', 'captain planet and the planetters', talespin, 'powerpuff girls', 'dexters laboratory', 'johnny bravo', tintin, 'super man', 'spider man', batman, 'he-man', 'samurai jack', 'jackie chan adventures', 'x-men', transformers, pokemon, 'ben 10', beyblade, 'dragon ball z', naruto, tarzan, 'dink the little dinosaurs', 'augie doggie', 'g. i. joe', 'justices league', 'chip n dale']
plugins:
  fblike: true
  gplus: true
---
<div class="container py-4">
  <!-- Place this tag where you want the +1 button to render. -->
  <div>
    <div class="g-plusone" data-href="{{ site.url }}{{ page.url }}"></div>
  </div>

  <!-- facebook like -->
  <div class="fb-like margin-bottom-20px" data-href="{{ site.url }}{{ page.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

  {% capture description %}
  <p><b>The Flintstones</b> is an animated, prime-time American television sitcom that was broadcast from September 30, 1960, to April 1, 1966, on ABC. The show was produced by Hanna-Barbera. The Flintstones was about a working-class Stone Age man's life with his family and his next-door neighbor and best friend.</p>
  {% endcapture %}
  {% assign characters = "Fred Flintstone|Dino (Dinosaur)|Wilma Flintstone (Wife)|Pebbles Flintstone (Daughter)|Bamm-Bamm Rubble (Barney's Son)|Betty Rubble (Barney's Wife)|Barney Rubble (Fred's friend)" | split: '|' %}
  {% include cartoon-card.html
  title='The Flintstones'
  img='//lh5.googleusercontent.com/-CG760PxPGJg/UfQKjC9m2hI/AAAAAAAABEY/ycrPAJ_0HUY/w811-h577-no/the-flintstones-characters%255B1%255D.jpg'
  img-title='The Flintstones family'
  img-description='Fred Flintstone, Dino,Wilma Flintstone, Pebbles Flintstone, Bamm-Bamm Rubble, Betty Rubble, Barney Rubble'
  description=description
  characters=characters
  read-more-url='/assets/includes/cartoons/flintstones.html'
  %}

  {% include adsence-responsive.html %}
  <hr class="my-4"/>

  {% capture description %}
  <p><b>The Jetsons</b> is an American animated sitcom produced by Hanna-Barbera, originally airing in primetime from 1962-1963, then later as part of the weekday/weekend morning programming block called The Funtastic World of Hanna-Barbera, until 1987. New episodes were produced from 1984-1987 as well. It was Hanna-Barbera’s Space Age counterpart to The Flintstones.</p>
  {% endcapture %}
  {% assign characters = "George Jetson|Jane (Wife)|Judy (Daughter)|Astro (The dog)|Elroy (Child)|Rosey (The robot maid)|Mr. Spacely (Boss)" | split: '|' %}
  {% include cartoon-card.html
  title='Jetsons'
  img='//lh4.googleusercontent.com/UCeglPTrNw1JfSFvFJpqCPEwiDsIeXXvANvDKEspjGk=w445-h309-no'
  img-title='The Jetsons family'
  img-description='Rosey (the robot maid), George, Jane, and Judy; Astro (the dog), Elroy (child)'
  description=description
  characters=characters
  read-more-url='/assets/includes/cartoons/jetsons.html'
  float-right=true
  %}


  {% capture description %}
  <p><b>Yogi Bear</b> is a family cartoon character, created by Hanna-Barbera Productions, who has appeared in numerous comic books, animated television shows and films.</p>
  {% endcapture %}
  {% assign characters = "Yogi|Boo Boo|Cindy Bear|Ranger Smith|Chopper|Snagglepuss|Yakky Doodle" | split: '|' %}
  {% include cartoon-card.html
  title='Yogi Bear'
  img='//lh3.googleusercontent.com/aEeOwAc6EaLYPd6xnruFeumZuMmv35hGMX1S1E0PXtE=w1020-h787-no'
  img-title='Yogi Bear'
  img-description='Yakky Doodle, Snagglepuss, Ranger Smith, Yogi, Boo Boo, Cindy Bear, Chopper'
  description=description
  characters=characters
  read-more-url='/assets/includes/cartoons/yogi-bear.html'
  %}

  {% include adsence-responsive.html %}
  <hr class="my-4"/>

  {% capture description %}
  <p><b>The Addams Family</b> is a group of fictional characters created by American cartoonist Charles Addams. As named by Charles Addams, the Addams Family characters include Gomez, Morticia, Uncle Fester, Lurch, Grandmama, Wednesday, Pugsley, Pubert Addams and Thing.</p>
  <p>The Addamses are a satirical inversion of the ideal American family; an eccentric, wealthy clan who delight in the macabre and are unaware that people find them bizarre or frightening.</p>
  {% endcapture %}
  {% assign characters = "Lurch (Gaint)|Pugsley (Son)|Uncle Fester|Morticia (Mother)|Gomez|Wednesday|Grandmama|Thing" | split: '|' %}
  {% include cartoon-card.html
  title='The Addams Family'
  img='//lh6.googleusercontent.com/-6mxPxamuBro/UXyulxijIqI/AAAAAAAAA7I/PhMnV-LRo5k/w370-h509/Addamsam%255B1%255D.jpg'
  img-title='The Addams Family'
  img-description='Lurch (Gaint), Pugsley (Son), Uncle Fester, Morticia (Mother), Gomez, Wednesday, Grandmama, Thing'
  description=description
  characters=characters
  float-right=true
  %}


  <a class="anchor" name="2StupidDogs" id="2StupidDogs"></a>
  <div class="row padding-top-20px bg-color-ffff99">
    <div class="col-md-8">
      <img class="img-thumbnail img-responsive margin-auto full-width" alt="2 Stupid Dogs" title="2 Stupid Dogs" src="//lh4.googleusercontent.com/jtA3s8DdwRtVqlwxtYNoq-fmpZF8HDN_wLBMu3jg2kY=w1258-h787-no">
      <p class="text-align-center">
        <small>The Little Dog, The Big Dog</small>
      </p>
    </div>
    <div class="col-md-4">
      <h2>2 Stupid Dogs</h2>
      <p><b>2 Stupid Dogs</b> is about a big dog and a little dog, neither of whom, as the title explains, is very intelligent, and their everyday misadventures. The Big Dog talks much less than the Little Dog does and most of the time, the Big Dog talks about food. It also did not have a series structure, similar to many humorous cartoons and sitcoms. The show did not follow a continuous storyline &ndash; what happens in one episode has little to no effect on another. 2 Stupid Dogs contained
                              very
                              brief sexual innuendos, as did other such cartoons of the time such as Rocko's Modern Life.</p>
      <h4>Characters:</h4>
      <ul>
        <li>The Little Dog</li>
        <li>The Big Dog</li>
        <li>The Cat</li>
        <li>Mr. Hollywood</li>
        <li>Kenny Fowler</li>
        <li>Cubby</li>
        <li>Buffy Ziegenhagen</li>
        <li>Red</li>
      </ul>
    </div>
  </div>

  <hr class="my-4"/>
  {% include adsence-responsive.html %}
  <hr class="my-4"/>

  <a class="anchor" name="Centurions" id="Centurions"></a>
  <div class="row padding-top-20px bg-color-b98682">
    <div class="col-md-5">
      <h2>Centurions</h2>
      <p><b>The Centurions</b> are based on an orbiting space station called Sky Vault where the token (but very smart) female, Crystal Kane, uses a transporter to send the Centurions, and the requested weapon systems, to where they are needed. Crystal is always in the company of either Jake Rockwell's dog Shadow or Lucy the orangutan, or in most cases both. Shadow is usually more involved with the Centurions' battles than Lucy and sports a harness with dual missile launchers. Crystal suggests
                               tactics and sends equipment as required. The Centurions also have a hidden base in New York City called "Centrum". Its entrance is hidden in a book store and must be reached via an underground railcar. "Centrum" serves as the Centurions land base of operations and also has a beaming pod for rapid transport to "Sky Vault". In addition to "Sky Vault" and "Centrum" there is also a "Centurion Academy" whose location is kept completely secret and only seen in the last 5
                               episodes.</p>
      <h4>Characters:</h4>
      <ul>
        <li>Max Ray - 'Brilliant' Sea Operations Commander</li>
        <li>Jake Rockwell - 'Rugged' Land Operations Specialist</li>
        <li>Ace McCloud - 'Daring' Air Operations Expert</li>
        <li>Crystal Kane - female lead</li>
        <li>Shadow - dog</li>
        <li>Lucy - <a href="//en.wikipedia.org/wiki/Orangutan" title="orangutan">orangutan</a></li>
        <li>Rex Charger - ‘Expert’ Energy Programmer</li>
        <li>John Thunder – ‘Specialist’ Infiltration Commander</li>
        <li>Doc Terror</li>
        <li>Hacker</li>
      </ul>
      <button class="btn btn-sm btn-primary cartoon-read-more" data-url="/assets/includes/cartoons/centurions.html">Read more <i class="fas fa-arrow-right"></i></button>
    </div>
    <div class="col-md-7">
      <img class="img-thumbnail img-responsive margin-auto full-width" alt="Centurions" title="Centurions" src="//lh4.googleusercontent.com/-WwgW2ROR1yk/UyW216ny_kI/AAAAAAAABf0/6MbWLTLxLIg/w533-h625-no/centur%255B1%255D.jpg">
      <p class="text-align-center">
        <small>Jake Rockwell (land), Ace McCloud(sky), Max Ray(sea)</small>
      </p>
    </div>
  </div>

  <hr class="my-4"/>

  <a class="anchor" name="SwatKats" id="SwatKats"></a>
  <div class="row padding-top-20px bg-color-20b2aa">
    <div class="col-md-8">
      <img class="img-thumbnail img-responsive margin-auto full-width" alt="Swat Kats" title="Swat Kats" src="//lh3.googleusercontent.com/-G_kWH1AcBks/Uy51hWhiewI/AAAAAAAABhY/Jukfw5Guu-I/w983-h787-no/swat-kats%255B1%255D.jpg">
      <p class="text-align-center">
        <small>Chance "T-Bone" Furlong and Jake "Razor" Clawson and The Jet "TurboKat"</small>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Swat Kats</h2>
      <p>The series takes place in the fictional metropolis of Megakat City, which is populated entirely by anthropomorphic felines who are just like people, known as "kats". The titular <b>SWAT Kats</b> are two vigilante pilots who possess a state-of-the-art fighter jet with an array of weaponry. Throughout the series, they face various villains as well as Megakat City's militarized police force, the Enforcers.</p>
      <h4>Characters:</h4>
      <ul>
        <li>Chance "T-Bone" Furlong</li>
        <li>Jake "Razor" Clawson</li>
        <li>Calico "Callie" Briggs [Deputy Mayor]</li>
        <li>Commander Ulysses Feral [Head of the Enforcers]</li>
        <li>Lieutenant Felina Feral</li>
        <li>Mayor Manx</li>
        <li>Dark Kat</li>
        <li>Dr. Viper</li>
        <li>The Metallikats</li>
        <li>The Pastmaster</li>
        <li>Hard Drive</li>
      </ul>
      <button class="btn btn-sm btn-primary cartoon-read-more" data-url="/assets/includes/cartoons/swat-kats.html">Read more <i class="fas fa-arrow-right"></i></button>
    </div>
  </div>

  <hr class="my-4"/>
  {% include adsence-responsive.html %}
  <hr class="my-4"/>

  <a class="anchor" name="ScoobyDoo" id="ScoobyDoo"></a>
  <div class="row padding-top-20px bg-color-f08080">
    <div class="col-md-5">
      <h2>Scooby Doo</h2>
      <p>Each episode featured <b>Scooby</b> and the four teenaged members of the Mystery, Inc. gang: <b>Fred</b>, <b>Shaggy</b>, <b>Daphne</b>, and <b>Velma</b>, arriving to a location in the "Mystery Machine" and encountering a ghost, monster, or other supernatural creature, whom they learned was terrorizing the local populace. After looking for clues and suspects and being chased by the monster, the kids come to realize the ghost is anything but, and - often with the help of a Rube
         Goldberg-like trap designed by Fred - they capture the villain and unmask him. Revealed as a flesh and blood crook trying to cover up crimes by using the ghost story and costume, the criminal is arrested and taken to jail, often saying something to the effect of "...and I would have gotten away with it, too, if it hadn't been for you meddling kids!"</p>
      <h4>Characters:</h4>
      <ul>
        <li><a href="//en.wikipedia.org/wiki/Scooby-Doo_%28character%29" title="Scooby Doo">Scoobert "Scooby-Doo"</a></li>
        <li><a href="//en.wikipedia.org/wiki/Shaggy_Rogers" title="Shaggy">Norville "Shaggy" Rogers</a></li>
        <li><a href="//en.wikipedia.org/wiki/Velma_Dinkley" title="Velma Dinkley">Velma Dinkley</a></li>
        <li><a href="//en.wikipedia.org/wiki/Daphne_Blake" title="Daphne">Daphne Blake</a></li>
        <li><a href="//en.wikipedia.org/wiki/Fred_Jones_%28Scooby-Doo%29" title="Fred">Fred "Freddy/Freddie" Jones</a></li>
      </ul>
      <button class="btn btn-sm btn-primary cartoon-read-more" data-url="/assets/includes/cartoons/scooby.html">Read more <i class="fas fa-arrow-right"></i></button>
    </div>
    <div class="col-md-7">
      <img class="img-thumbnail img-responsive margin-auto full-width" alt="Scooby Doo" title="Scooby Doo" src="//lh4.googleusercontent.com/gLIHXfo7qWj35f870jrIJl87EpUfSkUpT_xGtJwUpXo=w1137-h787-no">
      <p class="text-align-center">
        <small>Velma, Shaggy, Scooby, Fred, Daphne</small>
      </p>
    </div>
  </div>


  <hr class="my-4"/>

  <a class="anchor" name="TomAndJerry" id="TomAndJerry"></a>
  <div class="row padding-top-20px bg-color-bdedff">
    <div class="col-md-8">
      <img class="img-thumbnail img-responsive margin-auto full-width" alt="Tom and Jerry" title="Tom and Jerry" src="//lh4.googleusercontent.com/-jTeEl--upXM/U0EnBLINw6I/AAAAAAAABj0/TG3FI9WhwZ4/w1034-h787-no/3b864ea0e4aeae8d792f204474e393bd2.jpg">
      <p class="text-align-center">
        <small>Tom and Jerry</small>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Tom and Jerry</h2>
      <p>The plots of each short usually center on <b>Tom</b>'s numerous attempts to capture <b>Jerry</b> and the mayhem and destruction that follows. Tom rarely succeeds in catching Jerry, mainly because of Jerry's cleverness, cunning abilities, and luck. However, there are also several instances within the cartoons where they display genuine friendship and concern for each other's well-being. At other times, the pair set aside their rivalry in order to pursue a common goal, such as when a baby
         escaped the watch of a negligent babysitter, causing Tom and Jerry to pursue the baby and keep it away from danger.</p>
      <h4>Characters:</h4>
      <ul>
        <li>Thomas "Tom" Cat</li>
        <li>Jerry Mouse</li>
        <li>Spike and Tyke</li>
        <li>Nibbles</li>
        <li>Mammy Two Shoes</li>
      </ul>
      <button class="btn btn-sm btn-primary cartoon-read-more" data-url="/assets/includes/cartoons/tom-and-jerry.html">Read more <i class="fas fa-arrow-right"></i></button>
    </div>
  </div>


  <hr class="my-4"/>
  {% include adsence-responsive.html %}
  <hr class="my-4"/>

  <a class="anchor" name="Popeye" id="Popeye"></a>
  <div class="row padding-top-20px bg-color-ffff99">
    <div class="col-md-5">
      <h2>Popeye The Sailor Man</h2>
      <p></p>
      <h4>Characters:</h4>
      <ul>
        <li><a href="//en.wikipedia.org/wiki/Popeye" title="Popeye">Popeye</a></li>
        <li><a href="//en.wikipedia.org/wiki/Olive_Oyl" title="Olive Oyl">Olive Oyl</a></li>
        <li>Wimpy</li>
        <li><a href="//en.wikipedia.org/wiki/Bluto" title="Bluto">Bluto/Brutus</a></li>
        <li><a href="//en.wikipedia.org/wiki/Poopdeck_Pappy" title="Poopdeck Pappy">Poopdeck Pappy</a> (Popeye's father)</li>
        <li>Pip eye, Pup eye, Poop eye and Peep eye</li>
      </ul>
      <button class="btn btn-sm btn-primary cartoon-read-more" data-url="/assets/includes/cartoons/popeye.html">Read more <i class="fas fa-arrow-right"></i></button>
    </div>
    <div class="col-md-7">
      <img class="img-thumbnail img-responsive margin-auto full-width" alt="Popeye The Sailor Man" title="Popeye The Sailor Man" src="//lh5.googleusercontent.com/2cLi5iTUQTOmzIhwiiJHqc6T9yQeJ0KRBt2UDtP25rQ=w634-h407-no">
      <p class="text-align-center">
        <small>Bluto, Olive, Popeye</small>
      </p>
    </div>
  </div>

  <hr class="my-4"/>

  <a class="anchor" name="TheMask" id="TheMask"></a>
  <div class="row padding-top-20px">
    <div class="col-md-8">
      <img class="img-thumbnail img-responsive margin-auto full-width" alt="Swat Kats" title="Swat Kats" src="//lh6.googleusercontent.com/-RXxYLCTbKhQ/U01a7c4FRPI/AAAAAAAABmk/C88wtdkluaU/w357-h400-no/mask1%255B1%255D.jpg">
      <p class="text-align-center">
        <small>The Mask</small>
      </p>
    </div>
    <div class="col-md-4">
      <h2>The Mask</h2>
      <p>This show is based on the hit movie about a lower then regular guy who finds an enchanted mask. When he puts the mask on, he becomes a totally zany superhero who fights crime and makes a huge production of himself. He can instantaneously make his clothes change to something else, a body part change shape, pull anything out of his pockets, etc.</p>
      <h4>Characters:</h4>
      <ul>
        <li>Stanley Ipkiss/The Mask</li>
        <li>Milo [Dog]</li>
        <li>Detective Doyle</li>
        <li>Charlie Schumacher</li>
        <li>Pretorius</li>
      </ul>
      <button class="btn btn-sm btn-primary cartoon-read-more" data-url="/assets/includes/cartoons/the-mark.html">Read more <i class="fas fa-arrow-right"></i></button>
    </div>
  </div>


  <hr class="my-4"/>

  {% capture description %}
  <p><b>The Real Adventures of Jonny Quest</b>, were produced in the 1990s. The Quests have a home compound in the Florida Keys (on the island of Palm Key), but their adventures take them all over the world. The Quest team travels the globe studying scientific mysteries, which generally end up being explained as the work of various bad guys. Such pursuits get them into scrapes with foes that range from espionage robots and electrical monsters to Egyptian mummies and pterosaurs. </p>
  {% endcapture %}
  {% capture characters %}
  Jonathan "Jonny" Quest|Dr. Benton C. Quest (Jonny's father)|Roger T. "Race" Bannon (Special Agent)|Hadji (adopted son of Dr. Benton Quest)|Bandit (Dog)
  {% endcapture %}
  {% assign characters = characters | split: '|' %}
  {% include cartoon-card.html
  title='Jonny Quest'
  img='//lh3.googleusercontent.com/75x_wKiyTGDcov1h_tPSVd9UJaaAFy7WPgRHomwsGiAMIDTiVYvymPmyC2ScGB1cqfe-m9lRZvLiJS-2EXzBzbE-RdHCktVEF7NlhR7aT3qYdm4EW0jB1x46IAgyAtdfvDFnRGMUzGWjn9ABUW2Zj2z8l8zm0fDe3cthHPg3wz0nSR5QbtePqjTFbkY8_Vk9CH8cCZRh98XIfBHSLVD9M2mfFiuRaenpiGaby14a1RFULh24Z1tbLSGIseZZQcFo2t6_S_rh6c_AQBe_O1mbUMkh1H3Efgn9EYLaRW3-brx-VOsTMMO23QtQC2kOYQMKD9Ak1x01Q1iidLHY6YTttJGXcWr9VjgLP3Q3LTRJtxHigUnQ1cJnbG7Y-AboDByqCejb5fObdgweCBqv1zeUIoFus74vLcgUd1OwdqsPb1FgK6vnx6ioHgAyr9va9Ag7hdm9rxGdeNlzSqpmvXdoxhl5GKxWoUOsoiMIiux-NhAk6ShRVNsGnmDAQ-vMsJ0jVs0Q4TkBir5ncrjYzoDTwNlp-w1jzDapAvDo2EWpv-STJMu7gQxEBJycTWasiRj05lkaIKsBLSNh05YQQdEYTAMZagRPgsjhOA65ClA=w700-h301-no'
  img-title='Jonny Quest'
  img-description='"Race" Bannon, Jonny Quest, Hadji and Dr. Benton Quest'
  description=description
  characters=characters
  float-right=true
  %}

  {% include adsence-responsive.html %}
  <hr class="my-4"/>

  {% capture description %}
  This show details the various adventures of Richie Rich, his family, and his friends.
  <a href="https://en.wikipedia.org/wiki/Richie_Rich_(comics)#Supporting_characters">View All Characters</a>
  {% endcapture %}
  {% capture characters %}
  Richie Rich|Dollar the Dog|Cadbury (Butler)|Richard Rich (Richie's father)|Regina Rich (Richie's mother)|Professor Keenbean|
  Gloria Friendly(Richie's redheaded girlfriend)|Irona(Robot Maid)
  {% endcapture %}
  {% assign characters = characters | split: '|' %}
  {% include cartoon-card.html
  title='Richie Rich'
  img='https://lh3.googleusercontent.com/cbUe-X6PvKVhzB6cGbkdGVP0KD3jYolSYJtf-6rpj6j3Y5k5pgSzWtWzCcYmyoJvPfN_sUcJACUi4wjuMZ0UsNwY2Ul-bIozmKwbT_li8jlJcxpBuiW244_vq24wRU-EHoyyzYNOkXwkf_B00D5fZXBsmnxnXm7RCU2vu4X_h9a4_uWFwFgpI5Tio7NTUk17APPKmF-3DYc5Yx4kZv5vHbUPbuiz1OwAIScRonedxVYF3dlFcaPSlGb4ZZsc5r9JIWotdyLevwoJlFRH-lCc-mmu6o43IIYqcdmMcuCNZLg59zx2vpLFACWUiXb3N6ZMTA_pogNpG-xOduHoKGm6SpyDP0tNXlK8a2yrqMFwNiBZ9s96kouoU6WZDOmi7LJyykCBGRLvXcRJE-ZIejwHHUQmXacyFcwn1VrKYPr2elR60-3zj289XvhRvwD9V5unL80QDz1ke7TKmRd3D1GqEkmsGob7Jju_yXhpdUAfs5a760FPXeRkbrXrsECoeaZje1whkl2WYOarT39vdkf9CzbWAalQXW7DsX7n2ki5dKHQIaJ5WeVU3lEoZA_pePEC5Ushsk6WsI14fb3E6hQFV2hvI75b0QOj5FSdSeQ=w650-h400-no'
  img-title='Richie Rich'
  img-description='Cadbury, Richie Rich, Irona, Dollar the Dog'
  description=description
  characters=characters
  %}


  {% capture description %}
  <b>The Road Runner</b> Show was an animated anthology series which compiled theatrical Wile E. Coyote and the Road Runner cartoons from the Looney Tunes and Merrie Melodies, which were produced by Warner Bros. Cartoons between 1949 and 1964.
  {% endcapture %}
  {% capture characters %}Wile E. Coyote|Road Runner{% endcapture %}
  {% assign characters = characters | split: '|' %}
  {% include cartoon-card.html
  title='The Road Runner Show'
  img='https://lh3.googleusercontent.com/1zJKU9vrLKzu72oOyFWZFVOKycJHtnI36lOgbCeEhMvc6JA9SrHMYhYqCY02p_SW47hsqjK2iLZtNm3GngYcF_JERs9ipNONt4Ab-wSdqnV8s_uU_wxKtZLBMqMebzOtBuQOOZ3qg_gcyM8-vMaf3ShhIwLnVmkTDKYoOXD8BqsmvIoyyGKGrN48SgyUmczLv3LdGLH2widNBYRdhOdFM0XZjWJS74toACp3ppsnurWxo45EE1CDuGUaEFxs2qGr4rKb445G7ulnxyA02mAmX8mQEv38ABIWsEivg7CA3nw1D83CPKLiWoIPLiI3R0_MAIt1Ts7uTpAyaKdZnERDcnBjOV8Fl5gtidg2z-d1YZ4CT15SA6VRDrH_WhXypBxMYwhDpogMousrArCC7ytAEfuNcvN5P1Z2JbGUko5wBWmcDeOKk1lmzhrwXQWMiTspgjvTFRjcbj1u5RGh6OB3MKjPC7ColV40wle1bQczSxf8eJKZCJ7zBxebwNf66RfqAIEReBy41vHP-eAGdDu6lxaMKNaXnOVvfDdKl8B0irz0yzyy09e6UMW-s5ngzmEviA5JfFarsViuDYMZmVIKybK2qcl7hbSYYQ2JuD0=w570-h456-no'
  img-title='The Road Runner Show'
  img-description='Wile E. Coyote, Road Runner'
  description=description
  characters=characters
  float-right=true
  %}

  {% include adsence-responsive.html %}
  <hr class="my-4"/>

  {% capture description %}
  The show follows Looney Tunes characters Sylvester and Tweety Bird, and their owner Granny, along with bulldog Hector (who appeared in several cartoons alongside Tweety, Sylvester and Granny but was in the series given a new design similar to that of Marc Antony), as they solved mysteries, even with Sylvester still trying to eat Tweety in the middle of solving the mysteries, but Hector acted as a bodyguard for Tweety, and would even beat Sylvester up (usually out of shot, but sometimes behind a blind).
  {% endcapture %}
  {% capture characters %}Sylverster|Tweety|Granny|Hector{% endcapture %}
  {% assign characters = characters | split: '|' %}
  {% include cartoon-card.html
  title='The Sylverster &amp; Tweety Mysteries'
  img='http://shivajivarma.files.wordpress.com/2010/12/tweety_mysteries.jpg'
  img-title='The Sylverster and Tweety Mysteries'
  img-description='Granny, Tweety, Sylverster, Hector'
  description=description
  characters=characters
  %}



  <h3>
    Lot more to come.... post under construction..
  </h3>

  <br>
  Loony toons<br>
  Top Cat<br>
  The Bugs Bunny Show<br/>
  Captain Planet And The Planetters<br>
  TaleSpin<br>
  Powerpuff Girls<br>
  Dexter’s Laboratory<br>
  Johnny Bravo<br>
  Tintin<br>
  Super man<br>
  Spider man<br>
  Batman<br>
  He-man<br>
  Samurai Jack<br>
  Jackie chan adventures<br>
  X-men<br>
  Transformers<br>
  Pokemon<br>
  Ben 10<br>
  BeyBlade<br>
  Dragon Ball Z<br>
  Naruto<br>
  Tarzan<br>
  Dink the little dinosaurs<br>
  Augie doggie<br>
  G.I.Joe<br>
  Justices league<br>
  Chip n dale<br><br>
  {% include comments.html %}
</div>



<div class="modal fade" id="read-more-modal" tabindex="-1" role="dialog" aria-labelledby="read-more" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="fas fa-times" aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var modal = $('#read-more-modal');
    $('.cartoon-read-more').on('click', function() {
      var that = this;
      $.get($(this).data('url'), function(data) {
        modal.find('.modal-title').text($(that).data('title'));
        modal.find('.modal-body').html(data);
        modal.modal('show');
      });
    });
    var colors = ['#bdedff', '#ffff99', '#20b2aa', '#f08080'];
    $('.cartoon-card').each(function(index, card){
      $(card).css('background-color', colors[index % colors.length]);
    })
  });
</script>

