---
---
.skills {
  img {
    height: 4em;
    margin-bottom: 1em;
  }
}

.content {
  overflow: hidden;
  line-height: 40px;

  &__container {
    overflow: hidden;
    height: 40px;

    &__list {
      margin-top: 0;
      padding-left: 0;
      text-align: left;
      list-style: none;

      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;

      &__item {
        line-height: 40px;
        margin: 0;
      }
    }
  }
}

@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

// 6 is the number of animation.
// Here, there are 4 lines :

// 1 to 2
// 2 to 3
// 3 to 4
// 4 to 3
// 3 to 2
// 2 to 1

// 6x + 6y = 100 (100% duration)

// HERE :
// y = 4 -> Animation between two lines
// x = 12.66 -> Time spent on a line

// You can define a value and calculate the other if you want change speed or the number of lines

@keyframes toColor {
  0% {
    filter: grayscale(100%);
  }
  25% {
    filter: grayscale(75%);
  }
  50% {
    filter: grayscale(50%);
  }
  75% {
    filter: grayscale(25%);
  }
  100% {
    filter: grayscale(0%);
  }
}

.profile-picture {
  filter: grayscale(100%);
  &:hover {
    animation: toColor 2s forwards;
  }
}

@media (max-width: 767.98px) {
  pointer-events: none;
  -webkit-touch-callout: none;
  user-select: none;
}
