---
---
@import "mixin";


/*
.section {
  padding: var(--spacing-09) 0;
}
*/

.role-details {
  display: flex;
  gap: var(--spacing-05);
  margin-bottom: var(--spacing-03);
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width: 7rem;
    gap: var(--spacing-03);
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .role {
    [type="heading"] {
      margin-bottom: var(--spacing-03);
    }
  }
}

.project-details {
  display: flex;
  gap: var(--spacing-05);
  margin-bottom: var(--spacing-03);
  .logo {
    border-radius: var(--border-radius);
    height: 7rem;
    width: 7rem;
  }
  .role {
    [type="heading"] {
      margin-bottom: var(--spacing-03);
    }
  }
}

.award-item > [type="heading"] {
  margin-bottom: var(--spacing-03);
}

.item-separator {
  --border-color: var(--active-ui);
  padding: var(--spacing-03) 0;
}

.showcase {
  background: var(--color-brand-primary);
  color: var(--text-04);
  margin-top: var(--spacing-11);
  padding-bottom: var(--spacing-11);
}


.read-more {
  color: var(--color-white);
  a {
    display: flex;
    align-items: center;
    color: var(--color-white);
    text-decoration: none;
    gap: var(--spacing-03);
  }
}
.view-all-projects {
  padding-top: var(--spacing-09);
}
