---
---
@import "mixin";

html[data-theme="dark"] .banner {
  background: var(--color-black)
}

.section {
  padding: var(--spacing-8) 0;
}

.role-details {
  display: flex;
  gap: var(--spacing-4);
  margin-bottom: var(--spacing-2);
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width: 7rem;
    gap: var(--spacing-2);
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .role {
    [type="heading"] {
      margin-bottom: var(--spacing-2);
    }
  }
}

.project-details {
  display: flex;
  gap: var(--spacing-4);
  margin-bottom: var(--spacing-2);
  .logo {
    background: var(--color-brand-primary-10);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width: 7rem;
    gap: var(--spacing-2);
    img {
      max-width: 100%;
      max-height: 100%;
    }
    goat-svg {
      width: 7rem;
    }
  }
  .role {
    [type="heading"] {
      margin-bottom: var(--spacing-2);
    }
  }
}

.item-separator {
  --border-color: var(--active-ui);
  padding: var(--spacing-2) 0;
}

.showcase {
  background: var(--color-brand-primary);
  color: var(--text-04);
}

.read-more {
  color: var(--color-white);
  a {
    display: flex;
    align-items: center;
    color: var(--color-white);
    text-decoration: none;
    gap: var(--spacing-2);
  }
}
.view-all-projects {
  padding-top: var(--spacing-8);
}

/**
 * Banner
 */
.banner {
  height: 100vh;
  padding-top: var(--header-height);
  background: var(--color-brand-secondary-10);
  .section-container {
    display: flex;
  }
}
@include for-phone-only {
  .banner .section-container {
    height: 100%;
    padding: 0 var(--spacing-4);
    flex-direction: column;

    .banner-content-section {
      order: 2;
      height: 40%;
      text-align: center;
    }

    .banner-image-section {
      order: 1;
      height: 60%;
    }
  }

  .banner-image-section {
    display: flex;
    align-items: center;
  }

  .banner-content {
    display: flex;
    flex-direction: column;
  }

}

@include for-tablet-portrait-up {
  .banner {
    display: flex;
    align-items: center;

    .section-container {
      display: flex;
      align-items: center;
      .banner-content-section, .banner-image-section {
        width: 50%;
      }
    }
  }

}


