---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "mixin";
@import "bootstrap-grid";

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  visibility: hidden;
  background: var(--background);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html.hydrated {
  visibility: visible;
}

#nav-search-input {
  margin: 0;
}

.color-brand {
  color: var(--color-brand-primary);
}

.color-success {
  color: var(--color-success);
}

.section-container {
  max-width: var(--container-xl);
  margin: 0 auto;
  padding: 0 var(--spacing-8);
}

:root {
  --header-height: 5rem;
  --color-brand-primary-10: #FEEBDF;
  --color-brand-primary-20: #FDD3C0;
  --color-brand-primary-30: #FCBFAB;
  --color-brand-primary-40: #F89380;
  --color-brand-primary-50: #F16A5F;
  --color-brand-primary-60: #E82D2F;

  --color-brand-primary: #E82D2F;
  --color-brand-secondary-10: #FEEBDF;
  --color-brand-secondary-20: #FDD3C0;
  --color-brand-secondary-30: #FCBFAB;
  --color-brand-secondary-40: #F89380;
  --color-brand-secondary-50: #F16A5F;
  --color-brand-secondary-60: #E82D2F;

}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
}

.footer {
  border-top: 1px solid var(--border-color);

  goat-divider {
    height: 100%;
  }

  .section-container {
    padding-bottom: var(--spacing-4);
  }

  .social-links {
    display: flex;
    align-items: center;
    padding-top: var(--spacing-4);
    gap: var(--spacing-4);

    .social-links__links {
      display: flex;
      gap: var(--spacing-4);
    }
  }

  .first-row {
    padding-top: var(--spacing-4);
    display: flex;
    align-items: center;

    .logo {
      flex: 1;
      display: flex;
      align-items: center;
      height: 2.5rem;
      padding: .5rem 0;

      img {
        height: 2rem;
      }
    }

    .global-links {
      display: flex;
      gap: var(--spacing-8);
    }
  }
}


.made-in-india {
  display: none;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: .02em;
  color: var(--text-primary);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  margin-bottom: 20px
}

.social-icons {
  display: none;
  align-items: center;
  --button-color: var(--text-primary);
}

.made-in-india .country-flag {
  height: 1rem;
  padding: 0 var(--spacing-1);
}

@include for-tablet-landscape-up{

  .made-in-india {
    display: flex;
    position: fixed;
    font-size: 1rem;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    bottom: 2rem;
    left: 2rem;
    text-align: left
  }

  .social-icons {
    display: flex;
    position: fixed;
    font-size: 1rem;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    bottom: 2rem;
    right: -7rem;
    text-align: left
  }

  .social-icons goat-button {
    transform: rotate(90deg);
  }

  .made-in-india:before, .social-icons:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    height: 1px;
    width: 25px;
    background: var(--text-primary);
  }


  .section-container {
    padding: var(--spacing-5) var(--spacing-24);
  }
}

.hide-mobile {
  display: block;
}
.hide-desktop {
  display: none;
}

@include for-phone-only{
  .hide-mobile {
    display: none;
  }
  .hide-desktop {
    display: block;
  }
  .section-container {
    padding: 0 var(--spacing-4);
  }
}

.banner-title {
  height: 15rem;
  padding-top: var(--header-height);
  background: var(--color-brand-secondary-10);
  display: flex;
  justify-content: center;
  align-items: center;
}

html[data-theme="dark"] .banner-title {
  background: var(--color-black)
}
