---
---
@charset "utf-8";

/* Start: Reserved class name. Only used for selection. */
.first{}
.last{}
.middle{}
/* End: Reserved class name. Only used for selection. */

.clear{clear: both;}

.hide{display: none;}

.no-margin{margin: 0px;}

.text-justify{text-align: justify;}

.font-weight-bold{font-weight: bold;}

.margin-auto{margin: auto;}

.border-top{border-top: 1px solid #d6d6d6;}
.border-right{border-right: 1px solid #d6d6d6;}
.border-bottom{border-bottom: 1px solid #d6d6d6;}
.border-left{border-left: 1px solid #d6d6d6;}

{% include css/padding.css %}
{% include css/margin.css %}
