---
layout: default-with-banner
bg: green-mountains.jpg
navbar-transparent: true
title: Blog
priority: 0.9
description: My running commentary on work and personal topics, including programming, web development, open source, standards, Android, playing cricket, stories, films, music, and anything else that pops into my head.
change_frequency: always
---
{% include breadcrumb.html%}
<!-- MAIN CONTENT -->
<div class="blog-posts">
	<div class="row">
		<div id=post-list class=col-md-9>
		{% for post in site.categories['blog'] %}
      <div class="item">
        <goat-text type="heading" size="xs">
          <goat-link href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</goat-link>
        </goat-text>
        <goat-text shade="secondary">
          Posted on {{ post.date | date: "%B %-d, %Y" }}
          | Category : <goat-link href="{{ site.baseurl }}/blog/{{ post.categories[1] }}">{{ post.categories[1] | capitalize | replace:'-',' ' }}</goat-link>
          {% if post.tags != empty %}| Tags : {% for tag in post.tags %}{{ tag | capitalize }} {% endfor %} {% endif %}
        </goat-text>
      </div>
		{% endfor %}
		</div>
		<div class=col-md-3>
      {% include blog-side-nav-menu.html %}
      <hr/>
      {% include adsence-responsive.html %}
	  <hr/>
		{% include subscribe.html %}
		</div>
	</div>
</div>
