.banner {
  height: 100vh;
  padding-top: var(--header-height);
  background: var(--color-brand-secondary);
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
  }

  .banner-content-section {
    display: flex;
    align-items: center;
  }

  .banner-image-section {
    display: flex;
    align-items: center;

    svg {
      width: 100%;

      image {
        transform: translateY(50px);
      }
    }
  }
}

.banner-title {
  height: 15rem;
  padding-top: var(--header-height);
  background: var(--header-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

@include for-phone-only {
  .banner .section-container {
    height: 100%;
    padding: 0 var(--spacing-05);
    flex-direction: column;

    .banner-content-section {
      order: 2;
      height: 40%;
      text-align: center;
    }

    .banner-image-section {
      order: 1;
      height: 60%;
    }
  }

  .banner-image-section {
    display: flex;
    align-items: center;
  }

  .banner-content {
    display: flex;
    flex-direction: column;
  }

}

@include for-tablet-portrait-up {
  .banner {

  }
}

@include for-tablet-landscape-up {
  .banner {
    .banner-content-section {
      width: 60%;
    }

    .banner-image-section {
      width: 40%;
    }
  }
}




