---
layout: project
description: 'Snake Game using HTML and JS'
keywords: ['snake game', 'html js game']
plugins:
  fblike: true
  gplus: true
scripts: ['//shivajivarma.com/snake-game/snake-game.js']
---
<a class="anchor" id="game-top"></a>
<goat-text type="paragraph">Snake game written using javascript</goat-text>
<div class="row flex-row-reverse">
  <div class="col-md-4">
    <div class="card m-auto" style="max-width: 18rem;">
      <div class="card-header  card-header-primary">Score Card</div>
      <div class="card-body">
        <goat-text type="paragraph">Score : <span id="score">0</span></goat-text>
        <goat-text type="paragraph">Best &nbsp;: <span id="best-score">0</span></goat-text>
        <goat-text type="paragraph"><span id="displayBoard">&nbsp;</span></goat-text>
        <goat-text type="paragraph"><a href="#game-top" class="btn btn-outline-primary">Scroll to game top</a></goat-text>
        <goat-text type="paragraph"><span class="text-danger">*</span> Use arrow keys to play the game</goat-text>
      </div>
    </div>
  </div>
  <div class="col-md-8" id="canvas-wrapper">
    <canvas id="canvas" height="500"></canvas>
  </div>

  <script>
    var canvas = document.getElementsByTagName('canvas')[0];
    var wrapperWidth  = $('#canvas-wrapper').width();
    canvas.width  = wrapperWidth - (wrapperWidth % 10); //round of to 10's place
  </script>

</div>
<h3>HTML Code</h3>
{% include components/github-code-highlighter.html id="code-html" program='index.html' repo='shivajivarma/snake-game' prism='language-markup' %}


<h3>JS Code</h3>
{% include components/github-code-highlighter.html id="code-js" program='snake-game.js' repo='shivajivarma/snake-game' prism='language-javascript' %}
<script type="text/javascript">
  $(document).ready(function() {
    snakeGame.init();
  });
</script>
