---
layout: project
bg: code.jpg
title: Code Base
description: It is a repository of programs, using which you can analyse, hack and learn basic programming. Related to these things I discuss in my blog.
category: project
keywords: ["data structures", "algorithms", "search algorithms", "sorting algorithms", "graph", "linked list", "tree", "string"]

permalink: /:categories/:title/
navlinks:
  - name: C
    url: /project/code-base/tag/?filter=c
  - name: Python
    url: /project/code-base/tag/?filter=python
  - name: Java
    url: /project/code-base/tag/?filter=java
  - name: JavaScript
    url: /project/code-base/tag/?filter=javascript
---

<div class="row">
  <div id=post-list class=col-md-9>
    <p class="lead">'<b>Code Base</b>' is a repository contains examples of many popular algorithms and data structures.</p>

    <h3>Data Structures</h3>
    <p>Data structure is a particular way of organizing and storing data in a computer so that it can be accessed and modified efficiently. More precisely, a data structure is a collection of data values, the relationships among them, and the functions or operations that can be applied to the data.</p>
    <ul>
      <li>
        <b>Linked Lists</b>
        <ul>
          {% include components/codebase-item.html name="Singly Linked List" path='2018/05/27/singly-linked-list' %}
        </ul>
      </li>
      {% include components/codebase-item.html name="Stack" path='2018/06/01/stack' %}
    </ul>

    <h3>Algorithms</h3>
    <p>Algorithm is an unambiguous specification of how to solve a class of problems. Algorithm is a set of rules that precisely defines a sequence of operations.</p>

    <h4>Algorithms by Topic</h4>


    <ul>

      <li>
        <b>Date</b>
        <ul>
          {% include components/codebase-item.html name="Leap Year" path='2017/07/08/leap-year' %}
        </ul>
      </li>

      <li>
        <b>Math</b>
        <ul>
          {% include components/codebase-item.html name="Armstrong Number" path='2014/12/28/armstrong-number' %}
          {% include components/codebase-item.html name="Greatest Common Divisor" path='2015/01/03/greatest-common-divisor' %}
        </ul>
      </li>

      <li>
        <b>Search</b>
        <ul>
          {% include components/codebase-item.html name="Binary Search" path='2015/01/05/binary-search' %}
          {% include components/codebase-item.html name="Linear Search" path='2015/01/05/linear-search' %}
        </ul>
      </li>

      <li>
        <b>Sorting</b>
        <ul>
          {% include components/codebase-item.html name="Bubble Sort" path='2014/12/28/bubble-sort' %}
          {% include components/codebase-item.html name="Insertion Sort" path='2014/12/28/insertion-sort' %}
          {% include components/codebase-item.html name="Merge Sort" path='2015/01/02/merge-sort' %}
          {% include components/codebase-item.html name="Quick Sort" path='2015/01/02/quick-sort' %}
          {% include components/codebase-item.html name="Selection Sort" path='2015/01/02/selection-sort' %}
        </ul>
      </li>

      <li>
        <b>String</b>
        <ul>
          {% include components/codebase-item.html name="Anagram" path='2014/12/28/anagram' %}
          {% include components/codebase-item.html name="Longest Palindrome Sub String Length" path='2014/12/30/longest-palindrome-substring-length' %}
          {% include components/codebase-item.html name="Palindrome" path='2018/05/27/palindrome' %}
          {% include components/codebase-item.html name="Reversing A String" path='2018/05/27/reversing-a-string' %}
        </ul>
      </li>

      <li>
        <b>Uncategorized</b>
        <ul>
          <li>
            Display Patterns
            <ol type="I">
              {% include components/codebase-item.html name="Right Angled Triangle" path='2017/10/23/display-patterns' %}
              {% include components/codebase-item.html name="Print Z" path='2017/10/23/display-patterns' %}
            </ol>
          </li>

          {% include components/codebase-item.html name="Permutations" path='2017/10/22/permutations' %}
          {% include components/codebase-item.html name="Spiral Matrix" path='2018/05/04/spiral-matrix' %}
          {% include components/codebase-item.html name="Subsets" path='2018/05/10/subsets' %}
          {% include components/codebase-item.html name="Towers Of Hanoi" path='2017/10/23/towers-of-hanoi' %}

          <li>
            Networking
            <ol type="I">
              {% include components/codebase-item.html name="Sockets (Server - Client Communication)" path='2017/10/23/sockets-server-client-communication' %}
            </ol>
          </li>
        </ul>
      </li>

    </ul>

    <p>and more...</p>

    <h3>Contribute</h3>
    <p>Did you find a bug? any way to do it better? please feel free to pull-request it (or) drop a mail at <b><a class="no-underline" href="mailto:&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#115;&#104;&#105;&#118;&#97;&#106;&#105;&#118;&#97;&#114;&#109;&#97;&#46;&#99;&#111;&#109;" title="&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#115;&#104;&#105;&#118;&#97;&#106;&#105;&#118;&#97;&#114;&#109;&#97;&#46;&#99;&#111;&#109;">&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#115;&#104;&#105;&#118;&#97;&#106;&#105;&#118;&#97;&#114;&#109;&#97;&#46;&#99;&#111;&#109;</a></b> :)</p>

  </div>
  <div class=col-md-3>
    {% include components/side-nav-menu.html title='Tags' categories=page.navlinks %}
    <hr/>
    {% include html/adsence-responsive.html %}
  </div>
</div>
