---
layout: project
title: Transporter
description: 'An application to automate bus reservation system.'
keywords: [dbms, 'bus reservation system', 'java', 'dot net','er diagrams','data base management system','project']
plugins:
  fblike: true
  gplus: true
category: project
permalink: /:categories/:title/
---

<div class="row">
    <div class="col-md-9">
        <goat-text expressive>{{page.description}}</goat-text>
        <goat-text expressive>This product is upgrade for our previous product <a href="/project/bus-reservation-system/">Bus Reservation System</a></goat-text>
        <goat-text expressive>A java project, completely re-written from scratch, using <a href="http://projects.spring.io/spring-boot/">Spring MVC, Spring Boot</a> and <a href="http://gradle.org/">Gradle</a></goat-text>
        <goat-text expressive><a class="btn btn-outline-info" onclick="ga('send', 'event', 'button', 'click', 'Transporter View Source Code');" target="_blank" href="//github.com/shivajivarma/transporter" title="View Source Code">View Source Code</a></goat-text>



    </div>

    <div class=col-md-3>
		{% include adsence.html %}
	</div>
</div>

<div class="row mt-3">
    <div class="col-md-6 col-sm-12">
      <img src="{{site.img}}/products/transporter/transporter.png" width="100%" class="img-resposive">
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="content">
        <h3>Transporter V1.0</h3>
        <goat-text expressive>
          Plan your trip.
        </goat-text>
        <ul>
          <li>Admin Module</li>
          <li>Customer Module</li>
        </ul>
        <goat-text expressive>Follow us to get further announcements about the application development and release.</goat-text>
        <a href="//twitter.com/shivajivarma" target="_blank" class="btn btn-outline-primary">Follow</a>
      </div>
    </div>
  </div>
  <div class="row mt-3">
	<div class="col-md-4 col-sm-12">
      <div class="content">
        <div class=text-right>
            <h3>Login</h3>
        </div>
        <div class=text-right>
            <goat-text expressive>
                Common login page for both admin and customer.
            </goat-text>
        </div>
        <div class=pull-right>
            <a href="//twitter.com/shivajivarma" target="_blank" class="btn btn-outline-primary pull-right">Follow</a>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <img src="{{site.img}}/products/transporter/login.png" width="100%" class="img-responsive">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-8 col-sm-12">
      <img src="{{site.img}}/products/transporter/mytrips.png" width="100%" class="img-responsive" alt="Transporter">
    </div>
	<div class="col-md-4 col-sm-12">
      <div class="content">
        <h3>My trips</h3>
        <goat-text expressive>
          History of trips. You can print ticket or make cancellation by selecting the ticket.
        </goat-text>
        <a href="//twitter.com/shivajivarma" target="_blank" class="btn btn-outline-primary">Follow</a>
      </div>
    </div>
  </div>



<hr/>

<div class="row">
	<div class="col-md-12">
	<h1>Abstract</h1>
	<article>
		<p class="text-justify">Traveling is a large growing business across all countries. Bus reservation system deals with maintenance of records of details of each passenger. It also includes maintenance of information like schedule and details of each bus.</goat-text>
		<p class="text-justify">We observed the working of the Bus reservation system and after going through it, we get to know that there are many operations, which they have to do manually. It takes a lot of time and causing many errors while data entry. Due to this, sometimes a lot of problems occur and they were facing many disputes with customers. To solve the above problem, and further maintaining records of passenger details, seat availability, price per seat, bill generation and other things, we are offering this proposal of computerized reservation system.</goat-text>
		<p class="text-justify">By using this software, we can reserve tickets from any part of the world, through telephone lines, via internet. Customer can check availability of bus and reserve selective seats. The project provides and checks all sorts of constraints so that user does give only useful data and thus validation is done in an effective way.</goat-text>
	</article>
	</div>
</div>

<hr/>

<div class="row">
	<div class="col-md-12">
	<h1>Introduction</h1>
	<article>
		<p class="text-justify">The focus of the project is to computerize traveling company to manage data, so that all the transactions become fast and there should not be any error in transaction like calculation mistake, bill generation and other things. It replaces all the paper work. It keeps records of all bills also, giving to ensure 100% successful implementation of the computerized Bus reservation system.</goat-text>
		<p class="text-justify">This reservation system has three modules. First module helps the customer to enquire the availability of seats in a particular bus at particular date. Second module helps him to reserve a ticket. Using third module he can cancel a reserved ticket.</goat-text>
			<ul>
				<li>First module retrieves data from tables required for enquire.</li>
				<li>Second module inserts values into the tables on reservation.</li>
				<li>Third module deletes values into from the table on cancellation of tickets.</li>
			</ul>
		<p class="text-justify">As the database is hosted using Oracle Server onto internet, the application can access data from any part of the world, by many number of people concurrently.</goat-text>
	</article>
	</div>
</div>

<hr/>

<div class="row">
	<div class="col-md-12">
	<h1>PROBLEM SPECIFICATION</h1>
	<article>
		<p class="text-justify">Bus Reservation Systems that were suggested till now, are not up to the desired level.  There is no single system which automates all the process.</goat-text>
		<p class="text-justify">In order to build the system, all the processes in the business should be studied, System study helps us under the problem and needs of the application. System study aims at establishing requests for the system to be acquired, development and installed. It involves studying and analyzing the ways of an organization currently processing the data to produce information. Analyzing the problem thoroughly forms the vital part of the system study. In system analysis, prevailing situation of problem is carefully examined by breaking them into sub problems. Problematic areas are identified and information is collected. Data gathering is essential to any analysis of requests. It is necessary that this analysis familiarizes the designer with objectives, activities and the function of the organization in which the system is to be implemented.</goat-text>
		<ol class="mt-1">

			<li class="mb-3"><h4>Existing system</h4>
				<goat-text expressive><span class="check-mark">&#10003;</span>Existing system is totally on book and thus a great amount of manual work has to be done. The amount of manual work increases exponentially with increase in services.</goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span>Needs a lot of working staff and extra attention on all the records.</goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span>In existing system, there are various problems like keeping records of items, seats available, prices of per/seat and fixing bill generation on each bill.</goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span>Finding out details regarding any information is very difficult, as the user has to go through all the books manually.</goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span>Major problem was lack of security.</goat-text>
			</li>

			<li class="mb-3"><h4>Proposed system</h4>
				<goat-text expressive>The system is very simple in design and to implement. The system requires very low system resources and the system will work in almost all configurations. It has got following features:</goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span>Needs a lot of working staff and extra attention on all the records.</goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span>Ensure data accuracy.</goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span>Records are efficiently maintained by DBMS.</goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span>DBMS also provides security for the information.</goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span>Any person across the world, having internet can access this service.</goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span>Availability of seats can be enquired very easily.</goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span>Passengers can also cancel their tickets easily.</goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span>Minimum time needed for the various processing</goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span>Better Service</goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span>Minimum time required</goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span>This would help the corporation prepare and organize its schedules more efficiently on the basis of traffic demand.</goat-text>
			</li>

		</ol>
	</article>
	</div>
</div>

<hr/>

<div class="row">
	<div class="col-md-12">
	<h1>SOFTWARE REQUIREMENT SPECIFICATION</h1>
	<article>
		<ol>
			<li><h4>Hardware Requirements:</h4>
				<ul>
					<li>PC with Pentium IV processor.</li>
					<li>512 MB RAM or above.</li>
					<li>40 GB Hard Disk or above.</li>
				</ul>
			</li>

			<li><h4>Software Requirements:</h4>
				<ul>
					<li>Operating system : Windows XP (or latest).</li>
					<li>Front end : Java Runtime</li>
					<li>Platform : Java Swings</li>
					<li>Integrated development environment(IDE) : Eclipse</li>
					<li>Back end : Oracle 10g</li>
				</ul>
			</li>
		</ol>
	</article>
	</div>
</div>

<hr/>

<div class="row">
	<div class="col-md-12">
	<h1>Database design</h1>
	<h3>Conceptual design</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-5">
		<h4>a.	Requirement Analysis:</h4> <i>What data is needed?</i>
		<goat-text expressive>List of Entities:</goat-text>
		<ul>
			<li>BUS</li>
			<li>PASSENGER</li>
			<li>ROUTE</li>
			<li>RESERVE</li>
		</ul>
		<!--p>List of attributes:</goat-text>
		<goat-text expressive><strong>BUS:</strong></goat-text>
		<ul>
			<li>Bus ID</li>
			<li>AC</li>
			<li>Fare</li>
			<li>Departure Time</li>
			<li>Arrival Time</li>
		</ul>

		<goat-text expressive><strong>ROUTE:</strong></goat-text>
		<ul>
			<li>Route id</li>
			<li>Origin</li>
			<li>Destination</li>
		</ul>

		<goat-text expressive><strong>PASSENGER:</strong></goat-text>
		<ul>
			<li>Passenger ID</li>
			<li>Username</li>
			<li>Password</li>
			<li>Name</li>
			<li>Mobile number</li>
			<li>E-mail</li>
		</ul>
		<goat-text expressive>Constraints: Username should be unique</goat-text>

		<goat-text expressive><strong>RESERVE:</strong></goat-text>
		<ul>
			<li>Ticket ID</li>
			<li>Seat</li>
			<li>Time Stamp</li>
			<li>Passenger ID</li>
			<li>Bus ID</li>
			<li>Date</li>
		</ul-->

	</div>
	<div class="col-md-7">
		<h4>Schema:</h4>
        {% include code-highlighter.html path='https://raw.githubusercontent.com/shivajivarma/transporter/master/web/src/main/resources/db-scripts/schema.sql' language='sql' %}
		{% include code-highlighter.html path='https://raw.githubusercontent.com/shivajivarma/transporter/master/web/src/main/resources/db-scripts/passenger.sql' language='sql' %}
        {% include code-highlighter.html path='https://raw.githubusercontent.com/shivajivarma/transporter/master/web/src/main/resources/db-scripts/location.sql' language='sql' %}
        {% include code-highlighter.html path='https://raw.githubusercontent.com/shivajivarma/transporter/master/web/src/main/resources/db-scripts/vehicle.sql' language='sql' %}
        {% include code-highlighter.html path='https://raw.githubusercontent.com/shivajivarma/transporter/master/web/src/main/resources/db-scripts/route.sql' language='sql' %}
        {% include code-highlighter.html path='https://raw.githubusercontent.com/shivajivarma/transporter/master/web/src/main/resources/db-scripts/trip.sql' language='sql' %}
        {% include code-highlighter.html path='https://raw.githubusercontent.com/shivajivarma/transporter/master/web/src/main/resources/db-scripts/spring.security.sql' language='sql' %}

    </div>
</div>

<hr/>

<div class="row">
	<div class="col-md-12">
		<h1>How to Setup:</h1>
		<goat-text expressive><a href="https://travis-ci.org/shivajivarma/bus-reservation-system" alt="Build Status"><img title="Build Status" alt="Build Status" src=https://api.travis-ci.org/shivajivarma/bus-reservation-system.svg?branch=master /></a></goat-text>
		<ol>
			<li><goat-text expressive>Install Prerequisite Software:</goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span>Java 1.8</goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span>MySql 5.6 + MySql Connector/J + workbench (<a href="http://dev.mysql.com/downloads/windows/installer/">http://dev.mysql.com/downloads/windows/installer/</a>)</goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span>Eclipse Luna</goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span>Install Gradle plugin in Eclipse</goat-text>
			</li>

			<li><goat-text expressive>Set Enviroment Variables (Paths may vary based on OS and installation):</goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span><code>CLASSPATH=C:\Program Files\Java\jdk1.8.0_20\bin</code></goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span><code>PATH=C:\Program Files\Java\jdk1.8.0_20\bin</code></goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span><code>JAVA_HOME=C:\Program Files\Java\jdk1.8.0_20</code></goat-text>
			</li>

			<li><goat-text expressive>Clone the source code:</goat-text>
				<goat-text expressive><span class="check-mark">&#10003;</span><code>git clone https://github.com/shivajivarma/transporter.git</code></goat-text>
			</li>

			<li><goat-text expressive>Import project into eclipse.</goat-text></li>

			<li><goat-text expressive>Make sure eclispe is using currect JDK.</goat-text></li>

			<li><goat-text expressive>Database setup (<a href="https://github.com/shivajivarma/transporter/tree/master/web/src/main/resources/db-scripts">https://github.com/shivajivarma/transporter/tree/master/web/src/main/resources/db-scripts</a>)</goat-text></li>

			<li><goat-text expressive>Run main class in WebApplication.java, It would start the embedded tomcat.</goat-text></li>
		</ol>

	</div>
</div>

<hr/>

<p class="flow-text">Free Software, Hell Yeah!</goat-text>
