---
layout: project
title: Code Base
description: It is a repository of programs, using which you can analyse, hack and learn basic programming. Related to these things I discuss in my blog.
category: project
permalink: /:categories/:title/
navlinks:
  - name: C
    url: /code-base/tag/?filter=c
  - name: Python
    url: /code-base/tag/?filter=python
  - name: Java
    url: /code-base/tag/?filter=java
  - name: JavaScript
    url: /code-base/tag/?filter=javascript
---

<p class="lead mt-2">'<b>Code Base</b>' is a repository of programs, you can analyze and hack the code to learn programming. Algorithms playground for common questions solved in multiple languages. In case you want to prepare yourself for a job interview - try to solve it yourself first, then have a look here.</p>

<div class="row">
  <div id=post-list class=col-md-9>
    <ol>
      {% include components/codebase-item.html name="Anagram" path='2014/12/28/anagram' %}
      {% include components/codebase-item.html name="Armstrong Number" path='2014/12/28/armstrong-number' %}

      <li class=lead>
        Display Patterns
        <ol type="I">
          {% include components/codebase-item.html name="Right Angled Triangle" path='2017/10/23/display-patterns' %}
          {% include components/codebase-item.html name="Print Z" path='2017/10/23/display-patterns' %}
        </ol>
      </li>

      {% include components/codebase-item.html name="Greatest Common Divisor" path='2015/01/03/greatest-common-divisor' %}
      {% include components/codebase-item.html name="Longest Palindrome Sub String Length" path='2014/12/30/longest-palindrome-substring-length' %}
      {% include components/codebase-item.html name="Leap Year" path='2017/07/08/leap-year' %}
      {% include components/codebase-item.html name="Permutations" path='2017/10/22/permutations' %}
      <li class=lead>
        Search Algorithms
        <ol type="I">
          {% include components/codebase-item.html name="Binary Search" path='2015/01/05/binary-search' %}
          {% include components/codebase-item.html name="Linear Search" path='2015/01/05/linear-search' %}
        </ol>
      </li>
      <li class=lead>
        Sorting Algorithms
        <ol type="I">
          {% include components/codebase-item.html name="Bubble Sort" path='2014/12/28/bubble-sort' %}
          {% include components/codebase-item.html name="Insertion Sort" path='2014/12/28/insertion-sort' %}
          {% include components/codebase-item.html name="Merge Sort" path='2015/01/02/merge-sort' %}
          {% include components/codebase-item.html name="Quick Sort" path='2015/01/02/quick-sort' %}
          {% include components/codebase-item.html name="Selection Sort" path='2015/01/02/selection-sort' %}
        </ol>
      </li>
      {% include components/codebase-item.html name="Towers Of Hanoi" path='2017/10/23/towers-of-hanoi' %}
      {% include components/codebase-item.html name="Spiral Matrix" path='2018/05/04/spiral-matrix' %}

      <li class=lead>
        Networking
        <ol type="I">
          {% include components/codebase-item.html name="Sockets (Server - Client Communication)" path='2017/10/23/sockets-server-client-communication' %}
        </ol>
      </li>

    </ol>
  </div>
  <div class=col-md-3>
    <h3>Tags</h3>
    {% include components/side-nav-menu.html categories=page.navlinks %}
    <hr/>
    {% include html/adsence-responsive.html %}
  </div>
</div>
