---
import { AUTHOR, SITE_TITLE } from "../siteconfig";

interface Props {
  pageTitle?: string;
}
const { pageTitle } = Astro.props;
---

<!-- Fixed navbar -->
<nav class="header">
  <goat-header class="hide-mobile">
    <div slot="left">
      <goat-header-brand
        logo="/assets/img/logo.webp"
        name="Shivaji Varma"
        sub-title={pageTitle ?? ""}
        href="/#"></goat-header-brand>
    </div>
    <div slot="right">
      <div class="header-right-panel">
        <goat-input placeholder="Search" id="nav-search-input"></goat-input>
        <icon-button
          variant="text"
          name="light_mode"
          itemprop="url"
          class="theme-switcher"
          aria-label="Theme Switch"></icon-button>
        <base-button href="/blog/#" variant="text" itemprop="url"
          >Blog</base-button
        >
        <base-button variant="text" href="/project/#" itemprop="url"
          >Projects</base-button
        >
      </div>
    </div>
  </goat-header>

  <goat-header
    class="show-mobile"
    brand-logo="/assets/img/logo.webp"
    page-title={pageTitle ?? SITE_TITLE}
    brand-url="/"
  >
    <div slot="left">
      <goat-header-brand
        logo="/assets/img/logo.webp"
        sub-title={pageTitle ?? SITE_TITLE}
        href="/#"></goat-header-brand>
    </div>
    <div slot="right">
      <goat-header-action
        icon="light--filled"
        class="theme-switcher mobile"
        aria-label="Theme Switch"></goat-header-action>
      <goat-header-action icon="blog" href="/blog/#" itemprop="url"
      ></goat-header-action>
      <goat-header-action icon="roadmap" href="/project/#" itemprop="url"
      ></goat-header-action>
    </div>
  </goat-header>
</nav>
