---
import { AUTHOR, SITE_TITLE } from "../siteconfig";

interface Props {
  pageTitle?: string;
}
const { pageTitle } = Astro.props;
---

<!-- Fixed navbar -->
<nav class="header">
  <goat-header class="hide-mobile">
    <div slot="left">
      <goat-header-brand
        logo="/assets/img/logo.webp"
        name="Shivaji Varma"
        sub-title={pageTitle ?? ""}
        href="/#"></goat-header-brand>
    </div>
    <div slot="right">
      <div class="header-right-panel">
        <goat-input placeholder="Search" id="nav-search-input"></goat-input>
        <wc-icon-button
          variant="text"
          name="light_mode"
          itemprop="url"
          class="theme-switcher"
          aria-label="Theme Switch"
          ><wc-icon name="light_mode"></wc-icon></wc-icon-button
        >
        <wc-button href="/blog/#" variant="text" itemprop="url">Blog</wc-button>
        <wc-button variant="text" href="/projects/#" itemprop="url"
          >Projects</wc-button
        >
      </div>
    </div>
  </goat-header>

  <goat-header
    class="show-mobile"
    brand-logo="/assets/img/logo.webp"
    page-title={pageTitle ?? SITE_TITLE}
    brand-url="/"
  >
    <div slot="left">
      <goat-header-brand
        logo="/assets/img/logo.webp"
        sub-title={pageTitle ?? SITE_TITLE}
        href="/#"></goat-header-brand>
    </div>
    <div slot="right">
      <wc-icon-button
        icon="light--filled"
        class="theme-switcher mobile"
        aria-label="Theme Switch"></wc-icon-button>

      <wc-icon-button icon="blog" href="/blog/#" itemprop="url">
        <wc-icon icon="blog"></wc-icon>
      </wc-icon-button>

      <wc-icon-button href="/projects/#" itemprop="url">
        <wc-icon icon="roadmap"></wc-icon>
      </wc-icon-button>
    </div>
  </goat-header>
</nav>
