<nav aria-label="breadcrumb">
  <ol class="breadcrumb capitalize border-bottom" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumb-item" itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem"><a href="{{ site.baseurl }}/" itemprop="item"><span itemprop=name>Home</span></a></li>
    {% for item in include.items %}
    <li class="breadcrumb-item" itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem"><a href="{{ site.baseurl }}{{ item.href }}" itemprop="item"><span itemprop=name>{{ item.name | capitalize }}</span></a></li>
    {% endfor %}
    <li class="breadcrumb-item active" itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem" class=active><span itemprop=name>{{ page.title }}</span></li>
  </ol>
</nav><!-- /.breadcrumb -->
