<pre id="{{include.id}}"><div class="btn-group btn-group-sm position-absolute" role="group"  style="right: 30px;">
    <button class="btn btn-sm rounded btn-link btn-clipboard">copy</button>
    <a class="btn btn-sm rounded btn-link" href="https://raw.githubusercontent.com/{{ include.repo }}/master/{{ include.program }}" download><span class="fas fa-download"></span></a>
  </div><code class="{{include.prism}}">loading...</code>
</pre>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script>
  (function(){
    var clipboardData;
    $.ajax({
      type: "GET",
      url: "https://raw.githubusercontent.com/{{include.repo}}/master/{{include.program}}",
      async: false,
      success: function(data){
        clipboardData = data;
        $('#{{include.id}} code').html(data.replace(/</g,'&lt;').replace(/>/g,'&gt;'));
      },
      error: function(){
        $('#{{include.id}} code').html('Loading failed, please download to view the code.');
      }
    });
    var clipboard = new ClipboardJS('#{{include.id}} .btn-clipboard', {
      text: function(trigger) {
          return clipboardData;
      }
    });
  })();
</script>
