<pre id="{{include.id}}">
  <button class="btn btn-sm rounded position-absolute active btn-clipboard"  data-clipboard-text="Just because you can doesn't mean you should — clipboard.js" style="right: 30px;">copy</button>
  <a class="btn btn-sm rounded position-absolute active" href="https://raw.githubusercontent.com/{{ include.repo }}/master/{{ include.program }}" download="{{ include.program }}"><span class="fa fa-download"></span> Download</a>
  <code class="{{include.prism}}">loading...</code>
</pre>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script>
  (function(){
    var clipboardData;
    $.ajax({
      type: "GET",
      url: "https://raw.githubusercontent.com/{{include.repo}}/master/{{include.program}}",
      async: false,
      success: function(data){
        clipboardData = data;
        $('#{{include.id}} code').html(data.replace(/</g,'&lt;').replace(/>/g,'&gt;'));
      },
      error: function(){
        $('#{{include.id}} code').html('Loading failed, please download to view the code.');
      }
    });
    var clipboard = new ClipboardJS('#{{include.id}} .btn-clipboard', {
      text: function(trigger) {
          return clipboardData;
      }
    });
  })();
</script>
