<pre><button class="btn btn-sm rounded position-absolute active btn-clipboard"  data-clipboard-text="Just because you can doesn't mean you should — clipboard.js" style="right: 30px;">copy</button><code id="{{include.id}}" class="{{include.prism}}">loading...</code></pre>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script>
  $.ajax({
    type: "GET",
    url: "https://raw.githubusercontent.com/{{include.repo}}/master/{{include.program}}",
    async: false,
    success: function(data){
      $('#{{include.id}}').html(data.replace(/</g,'&lt;').replace(/>/g,'&gt;'));
    },
    error: function(){
      $('#{{include.id}}').html('Loading failed, please download to view the code.');
    }
  });
  var clipboard = new ClipboardJS('.btn-clipboard');
</script>
<p>
  <a href="https://github.com/{{ include.repo }}/blob/master/{{ include.program }}" class="btn btn-outline-secondary" target="_blank"><span class="fa fa-github"></span> Fork</a>
  <a href="https://raw.githubusercontent.com/{{ include.repo }}/master/{{ include.program }}" download="{{ include.program }}" class="btn btn-outline-secondary"><span class="fa fa-download"></span> Download</a>
</p>
