<!-- Fixed navbar -->
<nav class="header">
  <goat-header
    class='brand actions-separated hide-mobile'
    brand-logo='/assets/img/logo.webp'
    page-title="{{ site.tagline }}"
    brand-url='/'
  >

    <div slot='right-section'>
      <goat-input placeholder="Search" id="nav-search-input" ></goat-input>
      <goat-button  icon='sun-fill' id='theme-switcher'></goat-button>
      <goat-button class='full-height'
                   href='/blog#'
                   itemprop=url>Blog</goat-button>
      <goat-button class='full-height'
                   href='/project#'
                   itemprop=url>Projects</goat-button>
    </div>
  </goat-header>

  <goat-header
    class='brand actions-separated hide-desktop'
    brand-logo='/assets/img/logo.webp'
    page-title="{{ site.title }}"
    brand-url='/'
  >

    <div slot='right-section'>
      <goat-button  icon='sun-fill' id='theme-switcher'></goat-button>
      <goat-button class='full-height'
                   href='/blog#'
                   itemprop=url>Blog</goat-button>
      <goat-button class='full-height'
                   href='/project#'
                   itemprop=url>Projects</goat-button>
    </div>
  </goat-header>
</nav>


