<!-- Fixed navbar -->
<header id=header itemscope itemtype="http://schema.org/WPHeader">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{{ site.baseurl }}{% if page.root != 'true' %}/{% endif %}#body">
      <img src="{{ site.baseurl }}{{ site.img }}/logo2.png" height="30" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item {% if page.title == 'Blog' %}active{% endif %}">
          <a class="nav-link" href="{{ site.baseurl }}/blog/#body" itemprop=url>
            <span itemprop=name>Blog</span> {% if page.title == 'Blog' %}<span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
        <li class="nav-item {% if page.title == 'Projects' %}active{% endif %}">
          <a class="nav-link" href="{{ site.baseurl }}/project/#body" itemprop=url>
            <span itemprop=name>Projects</span> {% if page.title == 'Projects' %}<span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/search/" role="search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" id="q">
      </form>
    </div>
  </nav>
</header><!--/.navbar -->

