<div class="d-flex align-content-start flex-wrap social-icons">
  <a class="pr-3" target="_blank" href="http://facebook.com/{{ site.author.fbid }}" title="Facebook">
    <i class="fab fa-facebook"></i>
  </a>
  <a class="pr-3" target="_blank" href="http://github.com/{{ site.author.github }}" title="Github">
    <i class="fab fa-github"></i>
  </a>
  <a class="pr-3" target="_blank" href="http://plus.google.com/{{ site.author.gplusid }}" title="Google Plus">
    <i class="fab fa-google-plus"></i>
  </a>
  <a class="pr-3" target="_blank" href="http://twitter.com/{{ site.author.twitter }}" title="Twitter">
    <i class="fab fa-twitter"></i>
  </a>
  <a class="pr-3" target="_blank" href="https://www.linkedin.com/in/{{ site.author.linkedin }}" title="LinkedIn">
    <i class="fab fa-linkedin"></i>
  </a>
  <a class="pr-3" target="_blank" href="http://youtube.com/user/{{ site.author.youtube }}" title="Youtube">
    <i class="fab fa-youtube"></i>
  </a>
</div>
