---
layout: post
description: Program to find whether the given number is an Armstrong number or not
keywords: ['armstrong number', 'c armstrong program', 'python armstrong number', 'JavaScript armstrong number']
tags: [c, python, javascript]
---
<p>An <b>Armstrong number</b> is a number such that the sum of its digits raised to the third power is equal to the
  number itself.</p>
<p>For example, 371 is an Armstrong number, since 3^3 + 7^3 + 1^3 = 371.</p>
<p>Another example, 153. 1^3 + 5^3 + 3^3 = 1 + 125 + 27 = 153.</p>

<blockquote><p>{{ page.description }}.</p></blockquote>

<h3 class=mb-5>Code</h3>
<div class="card card-nav-tabs card-code">
    <div class="card-header card-header-primary">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#c-tab" data-toggle="tab">
                            C
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#python-tab" data-toggle="tab">
                            Python
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#js-tab" data-toggle="tab">
                            JavaScript
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><div class="card-body p-0">
        <div class="tab-content text-center">
            <div class="tab-pane active" id="c-tab">
              {% include components/github-code-highlighter.html id="anagram-c" repo='shivajivarma/codebase-c' program='src/math/armstrong-number/armstrong-number.c' prism='language-c' %}
            </div>
            <div class="tab-pane" id="python-tab">
              {% include components/github-code-highlighter.html id="anagram-python" repo='shivajivarma/codebase-python' program='armstrong-number/program.py' prism='language-python' %}
            </div>
            <div class="tab-pane" id="js-tab">
              {% include components/github-code-highlighter.html id="anagram-js" repo='shivajivarma/codebase-js' program='algorithms/math/armstrong-number/armstrong-number.js' prism='language-javascript' %}
            </div>
        </div>
    </div>
</div>
