---
layout: post
title: Linear Search
description: Program to perform search on set of numbers using Linear search technique
keywords: ['linear search algorithm', 'search algorithm', 'linear search program in c', 'linear search algorithm in java', 'linear search algorithm implemented in c']
tags: [c, java]
---
<p><strong>Linear search</strong>, also known as sequential search, is a process that checks every element in the list sequentially until the desired element is found.</p>

<blockquote>{{ page.description }}</blockquote>

<h3>C</h3>
{% include components/github-code-highlighter.html id="c-linear-search" program='src/searching-algorithms/linear-search/linear-search.c' repo='shivajivarma/codebase-c' prism='language-c' %}

<h3>Java</h3>
{% include components/github-code-highlighter.html id="java-linear-search" program='src/main/java/com/shivajivarma/codebase/search/linear_search/LinearSearch.java' repo='shivajivarma/codebase-java' prism='language-java' %}
