---
layout: post
description: Program to check whether a year is leap year or not
keywords: ['leap year', 'c program']
tags: [c, javascript]
---
<blockquote><p>{{ page.description }}.</p></blockquote>

<h3>C</h3>
{% include components/github-code-highlighter.html id="c-leap-year" repo='shivajivarma/codebase-c' program='src/leap-year/leap-year.c' prism='language-c' %}

<h3>JavaScript</h3>
{% include components/github-code-highlighter.html id="js-leap-year" repo='shivajivarma/codebase-js' program='leap-year/leap-year.js' prism='language-javascript' %}
