<div class="ads p-1">
	{% if true %}
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Responsive -->
	<ins class="adsbygoogle"
		 style="display:block"
		 data-ad-client="ca-pub-3120721550776061"
		 data-ad-slot="8584695641"
		 data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	{% else %}
	<div>Responsive Ads<br/>With images</div>
	{% endif %}
</div>

<div id="adblocker-message">
  This website is made possible by displaying online advertisements to our visitors.<br>
  Please consider supporting by disabling your ad blocker.
</div>
