<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation" itemscope itemtype="http://schema.org/WPHeader">
<div class="container" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{{ site.baseurl }}{% if page.title %}/{% endif %}#">
			<img alt="Logo" title="Logo" src="{{ site.baseurl }}/pages/projects/images/logo.png">
		</a>
	</div><!--/.nav-header -->
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li {% if page.title == 'Posts' %}class="active"{% endif %} itemprop="url"><a href="{{ site.baseurl }}/pages/posts"  itemprop="name">Posts</a></li>
			<li {% if page.title == 'Projects' %}class="active"{% endif %} itemprop="url"><a href="{{ site.baseurl }}/pages/projects"  itemprop="name">Projects</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li {% if page.title == 'About' %}class="active"{% endif %} itemprop="url"><a href="{% if page.title != 'About' %}{{ site.baseurl }}/pages/about{% endif %}#"  itemprop="name">About</a></li>
			<li itemprop="url"><a href="{{ site.baseurl }}{% if page.title != 'About' %}/pages/about{% endif %}#contact"  itemprop="name">Contact</a></li>
		</ul>
	</div><!--/.nav-collapse -->
</div>
</div><!--/.navbar -->
