<!-- build:js(app) {{ site.baseurl }}{{ site.js }}/main.js -->
<script type="text/javascript" src="{{ site.baseurl }}{{ site.bower }}/prism/prism.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}{{ site.bower }}/prism/components/prism-c.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}{{ site.bower }}/prism/components/prism-python.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}{{ site.bower }}/prism/components/prism-sql.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}{{ site.bower }}/prism/components/prism-java.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}{{ site.bower }}/owl-carousel/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}{{ site.js }}/main.js"></script>
<!-- endbuild -->

{% for js in page.js %}<script type="text/javascript" src="{{ site.baseurl }}{{ site.js }}/{{ js }}"></script>{% endfor %}

{% for script in page.scripts %}<script type="text/javascript" src="{{ script }}"></script>{% endfor %}

{% if page.plugins.gplus %}
	<script type="text/javascript">(function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/plusone.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();</script>
{% endif %}

{% if page.plugins.fblike %}{% include plugins/fb-like.html %}{% endif %}

{% include plugins/disqus-comments.html %}
