---
layout: base
---
{% include header.html %}
<div id="content">
	{{ content }}
</div>
{% include footer.html %}

<div class='social-icons hide-mobile'>
  <goat-button icon="logo--twitter"
               href="https://twitter.com/{{ site.author.twitter }}"
               title="Twitter"

               icon-size='lg'
               variant='ghost'
               color='dark'
               dark-mode-color='light'
               rel="noopener"
  ></goat-button>
  <goat-button icon="logo--linkedin"
               href="https://www.linkedin.com/in/{{ site.author.linkedin }}"
               title="LinkedIn"

               icon-size='lg'
               variant='ghost'
               color='dark'
               dark-mode-color='light'
               rel="noopener"
  ></goat-button>
  <goat-button icon="logo--github"
               href="https://github.com/{{ site.author.github }}"
               title="Github"

               icon-size='lg'
               variant='ghost'
               color='dark'
               dark-mode-color='light'
               rel="noopener"
  ></goat-button>
  <goat-button icon="logo--youtube"
               href="https://youtube.com/c/{{ site.author.youtube }}"
               title="Youtube"

               icon-size='lg'
               variant='ghost'
               color='dark'
               dark-mode-color='light'
               rel="noopener"
  ></goat-button>
  <goat-button icon="email"
               href="mailto:{{site.email}}"
               title="Mail"

               icon-size='lg'
               variant='ghost'
               color='dark'
               dark-mode-color='light'
               rel="noopener"
  ></goat-button>
</div>

<div class='made-in-india hide-mobile'>
  <span>&copy; 2023 <goat-link class='no-decoration' href='{{site.author_url}}'>{{site.title}}</goat-link>.</span>
  <img class='country-flag' src='https://cdn.jsdelivr.net/gh/hampusborgos/country-flags@main/svg/in.svg' /> Made in
  India.
</div>

{% include scripts.html %}

