---
layout: base
---
{% include header.html %}
<div class="banner-title">
  <goat-text type="heading" heading-size="7">{{page.title}}</goat-text>
</div>
<div class="project-content container">
  {{ content }}
</div>

<div class='social-icons hide-mobile'>
  <wc-icon-button name="logo--twitter"
               href="https://twitter.com/{{ site.author.twitter }}"
               title="Twitter"
               provider="carbon"
               variant='text'
               color='surface'
               rel="noopener"
  ></wc-icon-button>
  <wc-icon-button icon="logo--linkedin"
               href="https://www.linkedin.com/in/{{ site.author.linkedin }}"
               title="LinkedIn"
               provider="carbon"
               variant='text'
               color='surface'
               rel="noopener"
  ></wc-icon-button>
  <wc-icon-button icon="logo--github"
               href="https://github.com/{{ site.author.github }}"
               title="Github"

                provider="carbon"
               variant='text'
               color='surface'
               rel="noopener"
  ></wc-icon-button>
  <wc-icon-button icon="logo--youtube"
               href="https://youtube.com/c/{{ site.author.youtube }}"
               title="Youtube"

                provider="carbon"
               variant='text'
               color='surface'
               rel="noopener"
  ></wc-icon-button>
  <wc-icon-button icon="mail"
               href="mailto:{{site.email}}"
               title="Mail"
               variant='text'
               color='surface'
               rel="noopener"
  ></wc-icon-button>
</div>

<div class='made-in-india hide-mobile'>
  <span>&copy; 2023 <goat-link class='no-decoration' href='{{site.author_url}}'>{{site.title}}</goat-link>.</span>
  <img class='country-flag' src='https://cdn.jsdelivr.net/gh/hampusborgos/country-flags@main/svg/in.svg' /> Made in
  India.
</div>


{% include footer.html %}
{% include scripts.html %}
