---
layout: base
---
{% include components/header.html %}
<div id="content">
	{{ content }}
</div>
{% include components/footer.html %}

<div class='social-icons hide-mobile'>
  <goat-button variant="link" target="_blank"
               href="https://youtube.com/c/{{ site.author.youtube }}" title="Youtube" rel="noopener"
               icon="youtube"></goat-button>
  <goat-button variant="link" target="_blank"
               href="https://twitter.com/{{ site.author.twitter }}" title="Twitter" rel="noopener"
               icon="twitter"></goat-button>
  <goat-button variant="link" target="_blank"
               href="https://www.linkedin.com/in/{{ site.author.linkedin }}" title="LinkedIn" rel="noopener"
               icon="linkedin"></goat-button>
  <goat-button variant="link" target="_blank"
               href="https://github.com/{{ site.author.github }}" title="Github" rel="noopener"
               icon="github"></goat-button>

  <goat-button variant="link" target="_blank"
               href="mailto:{{site.email}}" title="Mail" rel="noopener"
               icon="envelope"></goat-button>
</div>

<div class='made-in-india hide-mobile'>
  <span>&copy; 2022 <goat-link class='no-decoration' href='{{site.author_url}}'>{{site.title}}</goat-link>.</span>
  <img class='country-flag' src='https://cdn.jsdelivr.net/gh/hampusborgos/country-flags@main/svg/in.svg' /> Made in
  India.
</div>

{% include html/scripts.html %}

