---
layout: base
css: ['/common/shared.css']
---

{% include html/header.html %}
<div id="content" class="container">
  <!-- Breadcrumb -->
  <ol class="breadcrumb" itemscope itemtype="http://schema.org/Breadcrumb">
    <li><a href="{{ site.baseurl }}/" itemprop="url"><span itemprop="title">Home</span></a></li>
    <li><a href="{{ site.baseurl }}/pages/posts" itemprop="url"><span itemprop="title">Posts</span></a></li>
    <li class="active" itemprop="title">{{ page.title }}</li>
  </ol>

  <div class="post" itemscope itemtype="http://schema.org/BlogPosting">
  {{content}}
  </div>

  <div id="push"></div>
</div>
<div class="container">
  <div id="page-navigation"> 
    <div class="clear">&nbsp;</div> 
    {% assign flag = false %}
    <div class="pull-left">
    {% for post in site.categories['post'] %}
	
	{% if flag %}
		<a href="{{ post.url }}" title="Previous Post: {{ post.title }}">&laquo; {{ post.title }}</a>
		{% break %}
	{% endif %}
	{% if post.url == page.url %}
		{% assign flag = true %}  
	{% endif %}
	
    {% endfor %} 
    </div> 
  	{% assign flag = false %}
    <div class="pull-right"> 
    {% for post in site.categories['post'] reversed %}
	
	{% if flag %}
		<a href="{{ post.url }}" title="Previous Post: {{ post.title }}">{{ post.title }} &raquo;</a>
		{% break %}
	{% endif %}
	{% if post.url == page.url %}
		{% assign flag = true %}  
	{% endif %}
	
    {% endfor %} 
    </div>

    <div class="clear">&nbsp;</div> 
  </div>
</div>

{% include html/footer.html %}