---
layout: base
css: ['/common/shared.css']
---

{% include html/header.html %}
<div id="wrap" class="container">
  <!-- Breadcrumb -->
  <ol class="breadcrumb" itemscope itemtype="http://schema.org/Breadcrumb">
    <li><a href="{{ site.baseurl }}/" itemprop="url"><span itemprop="title">Home</span></a></li>
    <li><a href="{{ site.baseurl }}/pages/posts" itemprop="url"><span itemprop="title">Posts</span></a></li>
    <li class="active" itemprop="title">{{ page.title }}</li>
  </ol>

  <div class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <div itemprop="blogPost">
  {{content}}
    </div>
  </div>

  <div id="push"></div>
</div>

<div class="container">
  <div id="page-navigation"> 
    <div class="clear">&nbsp;</div> 
  
    <div class="pull-left"> 
    {% if page.previous.url %}
      <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a> 
    {% endif %} 
    </div> 
  
    <div class="pull-right"> 
    {% if page.next.url %}
      <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo; </a> 
    {% endif %} 
    </div>

    <div class="clear">&nbsp;</div> 
  </div>
</div>

{% include html/footer.html %}